In [1]:
import pandas as pd
import networkx as nx
from sodapy import Socrata
import math
import random
import matplotlib.pyplot as plt
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import copy 
from scipy.cluster.vq import kmeans2, whiten
import seaborn as sns

from util import createDiGraphK2, getOutliers, get_stats

sns.set_style('darkgrid')

#to supress some annoying warnings
import warnings; warnings.simplefilter('ignore')

Below is some simple analysis of the taxi data set

In [2]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("gkne-dk5s", where="pickup_datetime between '2014-04-01T00:00:00' and '2014-04-30T23:59:59'", 
                     limit=1000000)

# Convert to pandas DataFrame
taxi14 = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
taxi14

,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,imp_surcharge,mta_tax,passenger_count,payment_type,pickup_datetime,pickup_latitude,pickup_longitude,rate_code,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,vendor_id
0,2014-04-20T10:40:24.000,40.752662000000001,-73.983723999999995,6,0,0.5,1,CSH,2014-04-20T10:35:56.000,40.739441999999997,-73.987893999999997,1,N,0,0,6.5,1.2,CMT
1,2014-04-24T00:25:23.000,40.766454000000003,-73.956057999999999,4.5,0.5,0.5,1,CRD,2014-04-24T00:23:11.000,40.762450000000001,-73.965839000000003,1,N,1,0,6.5,0.80000000000000004,CMT
2,2014-04-07T15:00:00.000,40.779237000000002,-73.960380000000001,5.5,0,0.5,1,CSH,2014-04-07T14:54:00.000,40.774704999999997,-73.950886999999994,1,NaN,0,0,6,0.62,VTS
3,2014-04-07T16:36:53.000,40.723039999999997,-73.998724999999993,16.5,1,0.5,1,CRD,2014-04-07T16:14:52.000,40.763281999999997,-73.974748000000005,1,Y,3,0,21,3.7000000000000002,CMT
4,2014-04-20T12:12:00.000,40.768701999999998,-73.961984999999999,12.5,0,0.5,2,CRD,2014-04-20T12:00:00.000,40.804720000000003,-73.960142000000005,1,NaN,2,0,15,3.21,VTS
5,2014-04-22T14:43:00.000,40.756171999999999,-73.976849999999999,11,0,0.5,1,CSH,2014-04-22T14:29:00.000,40.740527,-74.001985000000005,1,NaN,0,0,11.5,2.2400000000000002,VTS
6,2014-04-16T14:39:00.000,40.788089999999997,-73.953518000000003,4,0,0.5,6,CSH,2014-04-16T14:36:00.000,40.784886999999998,-73.951620000000005,1,NaN,0,0,4.5,0.55000000000000004,VTS
7,2014-04-28T22:03:00.000,40.756101999999998,-74.002647999999994,5,0.5,0.5,1,CSH,2014-04-28T22:00:00.000,40.749856999999999,-73.991860000000003,1,NaN,0,0,6,0.94999999999999996,VTS
8,2014-04-23T20:03:00.000,40.753525000000003,-73.98751,17,1,0.5,3,CSH,2014-04-23T19:38:00.000,40.794037000000003,-73.972707,1,NaN,0,0,18.5,3.1299999999999999,VTS
9,2014-04-22T15:35:50.000,40.742145000000001,-74.003941999999995,7,0,0.5,1,CRD,2014-04-22T15:28:06.000,40.744681,-73.989090000000004,1,N,3,0,10.5,1.3,CMT
10,2014-04-03T19:38:00.000,40.765340000000002,-73.987696999999997,7,1,0.5,1,CRD,2014-04-03T19:30:00.000,40.764026999999999,-73.977152000000004,1,NaN,1,0,9.5,0.75,VTS
11,2014-04-08T11:26:00.000,40.734681999999999,-73.994358000000005,11.5,0,0.5,1,CRD,2014-04-08T11:10:00.000,40.751420000000003,-73.993572,1,NaN,2,0,14,1.8999999999999999,VTS
12,2014-04-28T17:47:53.000,40.802477000000003,-73.966746000000001,13.5,1,0.5,1,CRD,2014-04-28T17:31:49.000,40.772126999999998,-73.949892000000006,1,N,4.5,0,19.5,3.2000000000000002,CMT
13,2014-04-16T19:11:39.000,40.720258000000001,-73.982465000000005,7,1,0.5,1,CRD,2014-04-16T19:04:10.000,40.726041000000002,-73.998239999999996,1,N,1.7,0,10.199999999999999,0.90000000000000002,CMT
14,2014-04-25T04:38:04.000,40.773501000000003,-73.949166000000005,11,0.5,0.5,1,CSH,2014-04-25T04:26:28.000,40.763539000000002,-73.983147000000002,1,N,0,0,12,2.7000000000000002,CMT
15,2014-04-06T09:57:04.000,40.765281999999999,-73.957989999999995,23.5,0,0.5,1,CRD,2014-04-06T09:32:58.000,40.701901999999997,-74.012823999999995,1,N,3,0,27,7.0999999999999996,CMT
16,2014-04-04T19:33:58.000,40.772238000000002,-73.981978999999995,17.5,1,0.5,1,CSH,2014-04-04T19:07:28.000,40.733415000000001,-74.006397000000007,1,N,0,0,19,3,CMT
17,2014-04-21T16:17:08.000,40.713679999999997,-73.979112000000001,31,0,0.5,1,CSH,2014-04-21T15:51:25.000,40.769787999999998,-73.863808000000006,1,N,0,0,31.5,10.5,CMT
18,2014-04-15T10:58:00.000,40.733535000000003,-73.999288000000007,6.5,0,0.5,1,CRD,2014-04-15T10:52:00.000,40.746737000000003,-73.993859999999998,1,NaN,1.6200000000000001,0,8.6199999999999992,1.1499999999999999,VTS
19,2014-04-04T14:21:35.000,40.785995999999997,-73.979871000000003,5.5,0,0.5,1,CSH,2014-04-04T14:16:35.000,40.790909999999997,-73.968974000000003,1,N,0,0,6,0.90000000000000002,CMT
20,2014-04-20T09:49:00.000,40.778125000000003,-73.954427999999993,4.5,0,0.5,5,CSH,2014-04-20T09:46:00.000,40.78125,-73.946562,1,NaN,0,0,5,0.72999999999999998,VTS
21,2014-04-20T22:10:59.000,40.719822000000001,-73.987660000000005,5.5,0.5,0.5,3,CSH,2014-04-20T22:06:16.000,40.722791999999998,-73.998183999999995,1,N,0,0,6.5,0.90000000000000002,CMT
22,2014-04-25T23:31:00.000,40.772526999999997,-73.955662000000004,7,0.5,0.5,1,CSH,2014-04-25T23:26:00.000,40.792546999999999,-73.941046999999998,1,NaN,0,0,8,1.6299999999999999,VTS
23,2014-04-07T13:52:39.000,40.732627999999998,-73.976752000000005,11,0,0.5,2,CSH,2014-04-07T13:39:39.000,40.728698999999999,-74.004243000000002,1,N,0,0,11.5,2.3999999999999999,CMT
24,2014-04-21T17:30:52.000,40.668975000000003,-73.920882000000006,40.5,1,0.5,1,CRD,2014-04-21T16:55:14.000,40.773916999999997,-73.870621,1,N,8.4000000000000004,0,50.399999999999999,13.4,CMT
25,2014-04-12T20:35:00.000,40.761412,-73.982905000000002,6.5,0.5,0.5,1,CSH,2014-04-12T20:27:00.000,40.761785000000003,-73.978757000000002,1,NaN,0,0,7.5,0.72999999999999998,VTS
26,2014-04-26T16:09:08.000,40.73751,-73.984071999999998,10.5,0,0.5,1,CSH,2014-04-26T15:54:45.000,40.745247999999997,-74.008546999999993,1,N,0,0,11,1.6000000000000001,CMT
27,2014-04-22T22:43:54.000,40.803424999999997,-73.956061000000005,12.5,0.5,0.5,1,CRD,2014-04-22T22:31:00.000,40.773864000000003,-73.988647999999998,1,N,3.7999999999999998,0,17.300000000000001,3.1000000000000001,CMT
28,2014-04-08T18:01:22.000,40.759366999999997,-73.995574000000005,8,1,0.5,4,CSH,2014-04-08T17:50:23.000,40.749518999999999,-73.986890000000002,1,N,0,0,9.5,1.1000000000000001,CMT
29,2014-04-10T14:22:00.000,40.759914999999999,-73.959329999999994,8.5,0,0.5,1,CRD,2014-04-10T14:11:00.000,40.752276999999999,-73.979122000000004,1,NaN,1.5,0,10.5,1.6799999999999999,VTS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,2014-04-29T00:14:39.000,40.743209999999998,-73.979900000000001,6,0.5,0.5,1,CRD,2014-04-29T00:10:03.000,40.733835999999997,-73.990284000000003,1,N,1.3999999999999999,0,8.4000000000000004,1.1000000000000001,CMT
999971,2014-04-28T18:15:37.000,40.797620000000002,-73.950952000000001,7.5,1,0.5,1,CSH,2014-04-28T18:08:13.000,40.778714999999998,-73.951677000000004,1,N,0,0,9,1.7,CMT
999972,2014-04-21T08:49:00.000,40.769460000000002,-73.983180000000004,7,0,0.5,1,CSH,2014-04-21T08:41:00.000,40.763869999999997,-73.964830000000006,1,NaN,0,0,7.5,1.1899999999999999,VTS
999973,2014-04-23T22:07:58.000,40.770634000000001,-73.987505999999996,33.5,0.5,0.5,1,CRD,2014-04-23T21:34:39.000,40.774185000000003,-73.872584000000003,1,N,5.5,0,40,9.8000000000000007,CMT
999974,2014-04-04T05:34:41.000,40.707279,-74.007400000000004,3,0.5,0.5,1,CRD,2014-04-04T05:33:15.000,40.705973,-74.009906000000001,1,N,0.5,0,4.5,0.20000000000000001,CMT
999975,2014-04-02T01:07:00.000,40.732967000000002,-74.006983000000005,27.5,0.5,0.5,1,CSH,2014-04-02T00:39:00.000,40.632491999999999,-73.947685000000007,1,NaN,0,0,28.5,8.0999999999999996,VTS
999976,2014-04-05T15:59:22.000,40.689602000000001,-73.981379000000004,3.5,0,0.5,1,CSH,2014-04-05T15:57:40.000,40.695233999999999,-73.984176000000005,1,N,0,0,4,0.40000000000000002,CMT
999977,2014-04-24T13:31:00.000,40.772494999999999,-73.946749999999994,14,0,0.5,3,CRD,2014-04-24T13:11:00.000,40.762352,-73.974942999999996,1,NaN,1,0,15.5,2.4199999999999999,VTS
999978,2014-04-03T16:11:00.000,40.766824999999997,-73.978539999999995,23.5,0,0.5,5,CRD,2014-04-03T15:32:00.000,40.73077,-73.992874999999998,1,NaN,4.7000000000000002,0,28.699999999999999,3.5600000000000001,VTS
999979,2014-04-25T00:39:00.000,40.773251999999999,-73.952034999999995,8.5,0.5,0.5,1,CRD,2014-04-25T00:30:00.000,40.759262,-73.972587000000004,1,NaN,3.5,0,13,1.8400000000000001,VTS
999980,2014-04-02T13:45:21.000,40.763655999999997,-73.981791000000001,47.5,0,0.5,1,CRD,2014-04-02T12:57:05.000,40.769064999999998,-73.862716000000006,1,N,10.66,5.3300000000000001,63.990000000000002,12.800000000000001,CMT
999981,2014-04-14T12:07:16.000,40.761527000000001,-74.001551000000006,13,0,0.5,1,CSH,2014-04-14T11:47:47.000,40.750253999999998,-73.983447999999996,1,N,0,0,13.5,1.5,CMT
999982,2014-04-12T07:21:00.000,40.751334999999997,-73.991055000000003,7.5,0,0.5,1,CRD,2014-04-12T07:13:00.000,40.740212,-73.975947000000005,1,NaN,0,0,8,1.3200000000000001,VTS
999983,2014-04-19T08:28:20.000,40.773268999999999,-73.960860999999994,7,0,0.5,1,CSH,2014-04-19T08:22:23.000,40.767674,-73.981976000000003,1,N,0,0,7.5,1.6000000000000001,CMT
999984,2014-04-17T08:39:05.000,40.759948000000001,-73.972344000000007,14.5,0,0.5,1,CRD,2014-04-17T08:15:24.000,40.778669999999998,-73.958057999999994,1,N,2,0,17,1.5,CMT
999985,2014-04-04T23:23:00.000,40.775635000000001,-73.914631999999997,17.5,0.5,0.5,2,CRD,2014-04-04T23:05:00.000,40.729767000000002,-73.959192000000002,1,NaN,2,0,20.5,4.9299999999999997,VTS
999986,2014-04-18T02:18:00.000,40.683104999999998,-73.965303000000006,16.5,0.5,0.5,1,CSH,2014-04-18T02:02:00.000,40.729906999999997,-73.983692000000005,1,NaN,0,0,17.5,4.6299999999999999,VTS
999987,2014-04-03T19:27:00.000,40.756405000000001,-73.896851999999996,24.5,1,0.5,1,CSH,2014-04-03T18:58:00.000,40.782204999999998,-73.980067000000005,1,NaN,0,0,26,6.1200000000000001,VTS
999988,2014-04-06T18:36:00.000,40.741546999999997,-74.004311999999999,7,0,0.5,1,CSH,2014-04-06T18:29:00.000,40.724975000000001,-73.999142000000006,1,NaN,0,0,7.5,1.6399999999999999,VTS
999989,2014-04-05T00:30:00.000,40.743200000000002,-73.989140000000006,8.5,0.5,0.5,1,CRD,2014-04-05T00:19:00.000,40.759135000000001,-73.98836,1,NaN,1.8,0,11.300000000000001,1.55,VTS
999990,2014-04-19T16:10:50.000,40.781595000000003,-73.983169000000004,13.5,0,0.5,1,CSH,2014-04-19T15:48:16.000,40.771565000000002,-73.958678000000006,1,N,0,0,14,3,CMT
999991,2014-04-17T12:44:00.000,40.737226999999997,-73.988860000000003,18.5,0,0.5,1,CSH,2014-04-17T12:18:00.000,40.705717,-74.016450000000006,1,NaN,0,0,19,3.8399999999999999,VTS
999992,2014-04-12T13:12:54.000,40.752872000000004,-73.979446999999993,12.5,0,0.5,2,CRD,2014-04-12T12:55:30.000,40.747098000000001,-74.001091000000002,1,N,1,0,14,1.8,CMT
999993,2014-04-13T21:42:00.000,40.745175000000003,-73.970938000000004,12,0.5,0.5,1,CSH,2014-04-13T21:27:00.000,40.771811999999997,-73.956019999999995,1,NaN,0,0,13,2.6899999999999999,VTS
999994,2014-04-30T08:14:23.000,40.805115000000001,-73.938828999999998,7.5,0,0.5,1,CRD,2014-04-30T08:06:13.000,40.790458000000001,-73.947644999999994,1,N,1.6000000000000001,0,9.5999999999999996,1.3,CMT
999995,2014-04-04T13:35:53.000,40.755479999999999,-73.978521000000001,7.5,0,0.5,1,CRD,2014-04-04T13:26:49.000,40.769716000000003,-73.968727000000001,1,N,1.25,0,9.25,1.2,CMT
999996,2014-04-15T00:59:48.000,40.743558999999998,-73.989566999999994,6.5,0.5,0.5,1,CSH,2014-04-15T00:54:04.000,40.740105999999997,-74.005954000000003,1,N,0,0,7.5,1.3,CMT
999997,2014-04-05T01:13:38.000,40.752032,-73.976830000000007,11.5,0.5,0.5,1,CRD,2014-04-05T01:00:14.000,40.721984999999997,-73.986417000000003,1,N,2.5,0,15,2.6000000000000001,CMT
999998,2014-04-27T23:29:00.000,40.726689999999998,-73.980270000000004,12,0.5,0.5,2,UNK,2014-04-27T23:16:00.000,40.757260000000002,-73.982309999999998,1,NaN,3.1200000000000001,0,16.120000000000001,2.9399999999999999,VTS
999999,2014-04-23T22:36:00.000,40.752741999999998,-73.970119999999994,8,0.5,0.5,1,CSH,2014-04-23T22:30:00.000,40.776466999999997,-73.952978000000002,1,NaN,0,0,9,1.9299999999999999,VTS

In [4]:
# this is so wonderful 
G14 = createDiGraphK2(taxi14)

finding outliers
removing outliers
clustering with k-means
creating graph now

In [12]:
stat_dict = get_stats(G14)
stat_dict

{'betweenness_centrality': {0: 1.7756942964699194e-05,
  1: 1.7756942964699194e-05,
  2: 1.7756942964699194e-05,
  3: 1.7756942964699194e-05,
  4: 1.7756942964699194e-05,
  5: 1.7756942964699194e-05,
  6: 1.7756942964699194e-05,
  7: 1.7756942964699194e-05,
  8: 1.7756942964699194e-05,
  9: 1.7756942964699194e-05,
  10: 1.7756942964699194e-05,
  11: 1.7756942964699194e-05,
  12: 1.7756942964699194e-05,
  13: 1.7756942964699194e-05,
  14: 1.7756942964699194e-05,
  15: 1.7756942964699194e-05,
  16: 1.7756942964699194e-05,
  17: 1.7756942964699194e-05,
  18: 1.7756942964699194e-05,
  19: 1.7756942964699194e-05,
  20: 1.7756942964699194e-05,
  21: 1.7756942964699194e-05,
  22: 1.7756942964699194e-05,
  23: 1.7756942964699194e-05,
  24: 1.7756942964699194e-05,
  25: 1.7756942964699194e-05,
  26: 1.7756942964699194e-05,
  27: 1.7756942964699194e-05,
  28: 1.7756942964699194e-05,
  29: 1.7756942964699194e-05,
  30: 1.7756942964699194e-05,
  31: 1.7756942964699194e-05,
  32: 1.7756942964699194e-05,
  33: 1.7756942964699194e-05,
  34: 1.7756942964699194e-05,
  35: 1.7756942964699194e-05,
  36: 0.0,
  37: 0.0,
  38: 1.7756942964699194e-05,
  39: 1.7756942964699194e-05},
 'closeness_centrality': {0: 1.0,
  1: 1.0,
  2: 1.0,
  3: 1.0,
  4: 1.0,
  5: 1.0,
  6: 1.0,
  7: 1.0,
  8: 1.0,
  9: 1.0,
  10: 1.0,
  11: 1.0,
  12: 1.0,
  13: 1.0,
  14: 1.0,
  15: 1.0,
  16: 1.0,
  17: 1.0,
  18: 1.0,
  19: 1.0,
  20: 1.0,
  21: 1.0,
  22: 1.0,
  23: 1.0,
  24: 1.0,
  25: 1.0,
  26: 1.0,
  27: 1.0,
  28: 1.0,
  29: 1.0,
  30: 1.0,
  31: 1.0,
  32: 1.0,
  33: 1.0,
  34: 1.0,
  35: 1.0,
  36: 1.0,
  37: 0.975,
  38: 1.0,
  39: 1.0},
 'eigenvalue_centrality': {0: 0.1582116182516545,
  1: 0.1582116182516545,
  2: 0.1582116182516545,
  3: 0.1582116182516545,
  4: 0.1582116182516545,
  5: 0.1582116182516545,
  6: 0.1582116182516545,
  7: 0.1582116182516545,
  8: 0.1582116182516545,
  9: 0.1582116182516545,
  10: 0.1582116182516545,
  11: 0.1582116182516545,
  12: 0.1582116182516545,
  13: 0.1582116182516545,
  14: 0.1582116182516545,
  15: 0.1582116182516545,
  16: 0.1582116182516545,
  17: 0.1582116182516545,
  18: 0.1582116182516545,
  19: 0.1582116182516545,
  20: 0.1582116182516545,
  21: 0.1582116182516545,
  22: 0.1582116182516545,
  23: 0.1582116182516545,
  24: 0.1582116182516545,
  25: 0.1582116182516545,
  26: 0.1582116182516545,
  27: 0.1582116182516545,
  28: 0.1582116182516545,
  29: 0.1582116182516545,
  30: 0.1582116182516545,
  31: 0.1582116182516545,
  32: 0.1582116182516545,
  33: 0.1582116182516545,
  34: 0.1582116182516545,
  35: 0.1582116182516545,
  36: 0.1582116182516545,
  37: 0.15425391456140566,
  38: 0.1582116182516545,
  39: 0.1582116182516545},
 'out_degrees': OutDegreeView({21: 35851, 16: 34081, 14: 29554, 7: 18013, 28: 20252, 19: 16831, 31: 24995, 35: 34286, 5: 48159, 32: 28201, 6: 28582, 9: 33073, 18: 23761, 38: 38109, 15: 31173, 4: 34803, 1: 34751, 2: 15953, 3: 34038, 29: 26953, 39: 28361, 10: 21050, 17: 23450, 37: 28536, 24: 29956, 33: 16541, 20: 33716, 8: 15307, 30: 16385, 34: 31513, 23: 4879, 22: 24037, 27: 20250, 26: 1708, 25: 26769, 12: 36866, 13: 2492, 11: 29876, 0: 15018, 36: 1871}),
 'pagerank': {0: 0.02214692130878548,
  1: 0.0305571774426108,
  2: 0.016021472015530832,
  3: 0.02586390669329765,
  4: 0.029852597676247605,
  5: 0.040454822139081255,
  6: 0.029079572602494587,
  7: 0.019855803654562285,
  8: 0.021408655122050365,
  9: 0.027027526653338282,
  10: 0.022680508847435235,
  11: 0.025421122026734827,
  12: 0.029695494754365694,
  13: 0.013525892195532895,
  14: 0.02623135721946926,
  15: 0.029806376722330264,
  16: 0.032577328366817974,
  17: 0.023215481873434748,
  18: 0.02488534442201355,
  19: 0.01868362957093194,
  20: 0.028826604477224668,
  21: 0.030219240592677974,
  22: 0.022722736278650856,
  23: 0.01705930426320605,
  24: 0.02987462518232681,
  25: 0.02569483165940821,
  26: 0.013743114488123718,
  27: 0.020831611332615425,
  28: 0.02254598013078973,
  29: 0.028617963620367063,
  30: 0.020440021345885597,
  31: 0.026272921769830374,
  32: 0.024473883809451657,
  33: 0.01890035506692666,
  34: 0.030200042447233337,
  35: 0.02863745352313334,
  36: 0.01569596324372224,
  37: 0.02901947019144283,
  38: 0.031097745358657114,
  39: 0.026135139911260756}}