In [1]:
import pandas as pd
import networkx as nx
from sodapy import Socrata
import math
import random
import matplotlib.pyplot as plt
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import copy 

import seaborn as sns

sns.set_style('darkgrid')

#to supress some annoying warnings
# import warnings; warnings.simplefilter('ignore')

In [2]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("2yzn-sicd", limit=10000)

# Convert to pandas DataFrame
data = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
num_trips = data.shape[0]
data

,dropoff_datetime,dropoff_latitude,dropoff_longitude,extra,fare_amount,mta_tax,passenger_count,payment_type,pickup_datetime,pickup_latitude,pickup_longitude,rate_code,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,vendor_id
0,2015-03-14T06:47:02.000,40.710891723632812,-73.951156616210937,0,22.5,0.5,6,1,2015-03-14T06:23:01.000,40.758869171142578,-73.986717224121094,1,N,5.82,0,29.12,5.82,2
1,2015-02-22T21:55:33.000,40.746559143066406,-73.9151611328125,0.5,13.5,0.5,1,1,2015-02-22T21:42:18.000,40.773097991943359,-73.885330200195313,1,N,2.96,0,17.76,3.66,2
2,2015-06-06T02:13:15.000,40.801097869873047,-73.965339660644531,0.5,17,0.5,2,1,2015-06-06T01:55:06.000,40.749649047851562,-74.002716064453125,1,N,3.65,0,21.95,4.8,1
3,2015-03-28T22:20:01.000,40.736175537109375,-73.9864501953125,0.5,6,0.5,2,1,2015-03-28T22:12:44.000,40.736274719238281,-73.993080139160156,1,N,1,0,8.3,0.5,1
4,2015-01-22T13:56:52.000,40.761867523193359,-73.968414306640625,0,9.5,0.5,2,1,2015-01-22T13:43:26.000,40.752170562744141,-73.982177734375,1,N,2.05,0,12.35,1.2,1
5,2015-02-27T12:22:59.000,40.757522583007812,-73.99835205078125,0,7.5,0.5,1,2,2015-02-27T12:14:01.000,40.750019073486328,-73.995208740234375,1,N,0,0,8.3,1,1
6,2015-02-23T21:03:59.000,40.774662017822266,-73.982391357421875,0.5,8.5,0.5,2,2,2015-02-23T20:55:44.000,40.783336639404297,-73.959098815917969,1,N,0,0,9.8,1.98,2
7,2015-05-04T16:44:04.000,40.764469146728516,-73.978790283203125,1,9,0.5,4,1,2015-05-04T16:32:15.000,40.7510986328125,-73.99407958984375,1,N,2.16,0,12.96,1.47,2
8,2015-05-06T18:23:38.000,40.759925842285156,-73.969856262207031,1,9,0.5,1,1,2015-05-06T18:11:59.000,40.776126861572266,-73.95587158203125,1,N,2.16,0,12.96,1.52,2
9,2015-04-19T00:43:12.000,40.744293212890625,-73.983551025390625,0.5,5,0.5,2,1,2015-04-19T00:39:03.000,40.750030517578125,-73.991744995117188,1,Y,1.25,0,7.55,0.7,1
10,2015-04-10T20:11:39.000,40.800041198730469,-73.970809936523438,1,28.5,0.5,1,1,2015-04-10T19:42:18.000,40.714313507080078,-74.014877319335937,1,N,3.7,0,34,8.2,1
11,2015-03-26T00:29:55.000,40.744831085205078,-73.981048583984375,0.5,7.5,0.5,6,1,2015-03-26T00:22:03.000,40.756401062011719,-73.990066528320312,1,N,3,0,11.8,1.39,2
12,2015-05-30T22:04:33.000,40.799240112304687,-73.97235107421875,0.5,9,0.5,1,1,2015-05-30T21:55:54.000,40.771240234375,-73.983352661132813,1,N,2.55,0,12.85,2.3,1
13,2015-03-22T14:35:32.000,40.751441955566406,-73.968009948730469,0,10.5,0.5,2,1,2015-03-22T14:27:48.000,40.719791412353516,-73.978851318359375,1,N,0.7,0,12,2.78,2
14,2015-05-26T12:47:13.000,40.763519287109375,-73.928764343261719,0,4,0.5,2,1,2015-05-26T12:44:42.000,40.761505126953125,-73.935173034667969,1,N,0.96,0,5.76,0.4,1
15,2015-03-23T00:44:28.000,40.741676330566406,-73.884910583496094,0.5,5.5,0.5,2,2,2015-03-23T00:38:56.000,40.748355865478516,-73.877052307128906,1,N,0,0,6.8,0.83,2
16,2015-05-23T11:44:35.000,40.745140075683594,-73.981086730957031,0,7,0.5,5,2,2015-05-23T11:36:42.000,40.753978729248047,-73.991928100585938,1,N,0,0,7.8,1.09,2
17,2015-06-18T00:00:25.000,40.757339477539063,-73.974052429199219,0.5,9.5,0.5,1,1,2015-06-17T23:50:52.000,40.728679656982422,-73.992446899414062,1,N,1.5,0,12.3,2.23,2
18,2015-06-25T21:21:40.000,40.764778137207031,-73.981964111328125,0.5,6.5,0.5,1,2,2015-06-25T21:15:48.000,40.779056549072266,-73.9775390625,1,N,0,0,7.8,1.14,2
19,2015-05-14T18:23:19.000,40.773658752441406,-73.979621887207031,1,7,0.5,1,1,2015-05-14T18:15:37.000,40.766490936279297,-73.962669372558594,1,N,1.76,0,10.56,1.1,2
20,2015-04-23T20:43:39.000,40.800071716308594,-73.938972473144531,0.5,6.5,0.5,2,2,2015-04-23T20:39:42.000,40.779071807861328,-73.953712463378906,1,N,0,0,7.8,1.68,2
21,2015-04-09T01:28:09.000,40.741981506347656,-73.980979919433594,0.5,7,0.5,1,1,2015-04-09T01:21:31.000,40.728450775146484,-73.978790283203125,1,N,2.08,0,10.38,1.29,2
22,2015-02-14T17:01:18.000,40.757472991943359,-73.984321594238281,0,10.5,0.5,1,2,2015-02-14T16:45:40.000,40.755641937255859,-73.974166870117187,1,N,0,0,11.3,0.94,2
23,2015-05-20T21:15:55.000,40.769016265869141,-73.958602905273437,0.5,6.5,0.5,1,1,2015-05-20T21:10:11.000,40.760066986083984,-73.971015930175781,1,N,1,0,8.8,1.1,1
24,2015-02-25T06:56:16.000,40.760074615478516,-73.971992492675781,0,8,0.5,1,2,2015-02-25T06:49:24.000,40.774410247802734,-73.957191467285156,1,N,0,0,8.8,1.7,1
25,2015-01-29T09:50:23.000,40.763126373291016,-73.967552185058594,0,13,0.5,1,1,2015-01-29T09:30:02.000,40.780998229980469,-73.949577331542969,1,N,2.76,0,16.56,1.7,1
26,2015-05-12T21:38:58.000,40.755908966064453,-73.969680786132813,0.5,13.5,0.5,6,1,2015-05-12T21:21:02.000,40.740020751953125,-74.003273010253906,1,N,3.7,0,18.5,2.84,2
27,2015-03-13T00:19:40.000,40.751148223876953,-73.990562438964844,0.5,8.5,0.5,1,1,2015-03-13T00:09:48.000,40.759616851806641,-73.97003173828125,1,N,2.45,0,12.25,1.74,2
28,2015-02-23T20:43:27.000,40.745166778564453,-73.99859619140625,0.5,10,0.5,1,2,2015-02-23T20:30:39.000,40.731487274169922,-73.982749938964844,1,N,0,0,11.3,1.64,2
29,2015-05-18T17:55:44.000,40.743755340576172,-73.973236083984375,0,10,0.5,1,1,2015-05-18T17:55:41.000,40.743766784667969,-73.973213195800781,5,N,2.16,0,12.96,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,2015-01-02T15:18:52.000,40.694850921630859,-73.9942626953125,0,18.5,0.5,3,2,2015-01-02T15:01:14.000,40.742107391357422,-73.974700927734375,1,N,0,0,19.3,5.67,2
9971,2015-02-03T05:37:32.000,0,0,0.5,13,0.5,1,2,2015-02-03T05:37:32.000,40.787788391113281,-73.955924987792969,1,N,0,0,14.3,0,1
9972,2015-06-21T11:55:24.000,40.690570831298828,-74.177490234375,0,68,0,3,2,2015-06-21T11:16:33.000,40.756439208984375,-73.973800659179688,3,N,0,11.75,80.05,17.78,2
9973,2015-02-21T11:25:37.000,40.719772338867188,-74.007118225097656,0,6,0.5,1,2,2015-02-21T11:20:15.000,40.724971771240234,-73.99468994140625,1,N,0,0,6.8,1.2,1
9974,2015-03-07T16:04:53.000,40.730037689208984,-74.003929138183594,0,11,0.5,1,2,2015-03-07T15:49:26.000,40.741806030273438,-73.985092163085938,1,N,0,0,11.8,2.03,2
9975,2015-04-24T19:55:13.000,40.714740753173828,-73.990196228027344,1,6,0.5,1,2,2015-04-24T19:48:31.000,40.721260070800781,-74.001449584960938,1,N,0,0,7.8,0.71,2
9976,2015-01-24T04:23:44.000,40.714351654052734,-73.96136474609375,0.5,19,0.5,2,2,2015-01-24T03:57:50.000,40.740238189697266,-74.003852844238281,1,N,0,0,20.3,4.2,1
9977,2015-05-03T13:04:23.000,40.7518310546875,-73.978630065917969,0,7.5,0.5,4,1,2015-05-03T12:54:46.000,40.758708953857422,-73.9892578125,1,N,2.49,0,10.79,0.89,2
9978,2015-04-23T16:44:04.000,40.746231079101563,-73.977729797363281,1,14.5,0.5,1,2,2015-04-23T16:22:30.000,40.717231750488281,-73.995414733886719,1,N,0,0,16.3,2.2,2
9979,2015-06-12T22:51:03.000,40.676258087158203,-73.802665710449219,0.5,9.5,0.5,5,2,2015-06-12T22:45:11.000,40.705593109130859,-73.81048583984375,1,N,0,0,10.8,2.67,2
9980,2015-05-02T19:14:05.000,40.779556274414063,-73.961662292480469,0,7.5,0.5,1,1,2015-05-02T19:07:11.000,40.765201568603516,-73.97833251953125,1,N,2.08,0,10.38,1.82,2
9981,2015-06-28T16:11:28.000,40.759960174560547,-73.973930358886719,0,7,0.5,1,1,2015-06-28T16:02:34.000,40.770606994628906,-73.981826782226563,1,N,1,0,8.8,1,1
9982,2015-05-13T23:59:34.000,40.724502563476563,-73.993782043457031,0.5,6.5,0.5,2,2,2015-05-13T23:53:44.000,40.720245361328125,-74.008522033691406,1,N,0,0,7.8,1.35,2
9983,2015-03-08T18:46:13.000,40.750473022460938,-73.994651794433594,0,5.5,0.5,2,4,2015-03-08T18:40:28.000,40.746208190917969,-74.000808715820313,1,N,0,0,6.3,0.5,1
9984,2015-05-06T07:38:19.000,40.758110046386719,-73.989112854003906,0,7.5,0.5,1,1,2015-05-06T07:30:22.000,40.764400482177734,-73.973014831542969,1,N,1.65,0,9.95,1.3,1
9985,2015-05-01T06:20:04.000,40.756015777587891,-74.002708435058594,0,6,0.5,2,1,2015-05-01T06:15:21.000,40.764076232910156,-73.988601684570313,1,N,1.36,0,8.16,1.25,2
9986,2015-03-04T08:08:08.000,40.788330078125,-73.956192016601563,0,12,0.5,1,1,2015-03-04T07:49:52.000,40.780117034912109,-73.976707458496094,1,N,2,0,14.8,1.8,1
9987,2015-01-13T13:09:32.000,40.790767669677734,-73.939125061035156,0,29,0.5,1,1,2015-01-13T12:24:37.000,40.747280120849609,-73.993080139160156,1,N,3.48,0,33.28,5.03,2
9988,2015-02-02T12:24:46.000,40.724746704101563,-73.99237060546875,0,9.5,0.5,1,1,2015-02-02T12:13:13.000,40.745304107666016,-73.998306274414063,1,N,2.05,0,12.35,2,1
9989,2015-06-26T17:57:33.000,40.765846252441406,-73.990669250488281,1,27,0.5,1,1,2015-06-26T17:13:22.000,40.777313232421875,-73.963600158691406,1,N,0,0,28.8,2.83,2
9990,2015-04-16T11:50:12.000,40.735828399658203,-74.005912780761719,0,10.5,0.5,1,2,2015-04-16T11:35:20.000,40.725761413574219,-73.989837646484375,1,N,0,0,11.3,1.53,2
9991,2015-06-27T18:39:45.000,40.770503997802734,-73.948600769042969,0,4,0.5,2,1,2015-06-27T18:37:18.000,40.7730712890625,-73.954093933105469,1,N,0.96,0,5.76,0.37,2
9992,2015-03-28T17:42:34.000,40.736251831054687,-73.993476867675781,0,8,0.5,3,2,2015-03-28T17:33:49.000,40.752639770507813,-73.992652893066406,1,N,0,0,8.8,1.62,2
9993,2015-01-14T09:21:15.000,40.763961791992188,-73.982772827148438,0,11.5,0.5,1,2,2015-01-14T09:04:31.000,40.750705718994141,-73.977828979492188,1,Y,0,0,12.3,1.4,1
9994,2015-03-15T11:11:24.000,40.737411499023438,-73.998733520507813,0,3.5,0.5,5,2,2015-03-15T11:09:52.000,40.730911254882812,-74.00140380859375,1,N,0,0,4.3,0.53,2
9995,2015-05-29T15:04:46.000,40.747489929199219,-73.956672668457031,0,23,0.5,1,1,2015-05-29T14:41:51.000,40.773880004882812,-73.875038146972656,1,N,4.76,0,28.56,7.08,2
9996,2015-02-20T22:28:36.000,40.718341827392578,-73.976737976074219,0.5,5.5,0.5,2,2,2015-02-20T22:23:45.000,40.719318389892578,-73.987762451171875,1,N,0,0,6.8,0.87,2
9997,2015-06-23T20:21:19.000,0,0,0.5,7,0.5,1,2,2015-06-23T20:14:33.000,0,0,1,N,0,0,8.3,1.3,1
9998,2015-01-21T07:37:55.000,40.787982940673828,-73.953628540039063,0,4.5,0.5,1,2,2015-01-21T07:34:49.000,40.779758453369141,-73.9600830078125,1,N,0,0,5.3,0.7,2
9999,2015-06-30T21:19:21.000,40.76715087890625,-73.989982604980469,0.5,8.5,0.5,5,1,2015-06-30T21:08:47.000,40.751758575439453,-73.979774475097656,1,N,1,0,10.8,1.64,2

In [4]:
# concatenate all pickup and dropoff coordiantes together to prep for clustering
points = data[['dropoff_latitude','dropoff_longitude']]
points = points.rename(index=str, columns={"dropoff_latitude":"pickup_latitude", "dropoff_longitude":"pickup_longitude" })
points
points = points.append(data[['pickup_latitude','pickup_longitude']], ignore_index=True)
points = points.rename(index=str, columns={"pickup_latitude":"latitude", "pickup_longitude":"longitude" })
points = points.astype('float')

In [5]:
from scipy.cluster.vq import kmeans2, whiten
centroids, labels = kmeans2(whiten(points), 20, 20)
dropoff_labels = labels[0:num_trips]
pickup_labels = labels[data.shape[0]:labels.shape[0]]
data.insert(loc=len(data.columns),column='pickupID', value=pickup_labels)
data.insert(loc=len(data.columns),column='dropoffID', value=dropoff_labels)

/Users/Bisrat/anaconda/lib/python3.6/site-packages/scipy/cluster/vq.py:525: UserWarning: One of the clusters is empty. Re-run kmeans with a different initialization.
  warnings.warn("One of the clusters is empty. "

In [6]:
labels

array([ 7,  7,  7, ..., 10,  7,  7], dtype=int32)

In [7]:
def makeDigraph(data):
    G = nx.DiGraph();
    for ride in range(num_trips):
        src = data['pickupID'][ride]
        dest = data['dropoffID'][ride]
        G.add_edge(src,dest)
    return G

In [8]:
def degree_distribution(graph, orientation):
    max_degree = np.max(graph.degree)
    if (orientation is 'in'):
        in_degree = np.zeros(max_degree + 1)
        for k in G.nodes:
            in_num = G.in_degree[k]
            in_degree[in_num] += 1 
        sns.distplot(d)

In [16]:
G = makeDigraph(data)
list(G.degree)

[(7, 4), (10, 4), (9, 2)]

In [10]:
data

,dropoff_datetime,dropoff_latitude,dropoff_longitude,extra,fare_amount,mta_tax,passenger_count,payment_type,pickup_datetime,pickup_latitude,pickup_longitude,rate_code,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,vendor_id,pickupID,dropoffID
0,2015-03-14T06:47:02.000,40.710891723632812,-73.951156616210937,0,22.5,0.5,6,1,2015-03-14T06:23:01.000,40.758869171142578,-73.986717224121094,1,N,5.82,0,29.12,5.82,2,7,7
1,2015-02-22T21:55:33.000,40.746559143066406,-73.9151611328125,0.5,13.5,0.5,1,1,2015-02-22T21:42:18.000,40.773097991943359,-73.885330200195313,1,N,2.96,0,17.76,3.66,2,7,7
2,2015-06-06T02:13:15.000,40.801097869873047,-73.965339660644531,0.5,17,0.5,2,1,2015-06-06T01:55:06.000,40.749649047851562,-74.002716064453125,1,N,3.65,0,21.95,4.8,1,7,7
3,2015-03-28T22:20:01.000,40.736175537109375,-73.9864501953125,0.5,6,0.5,2,1,2015-03-28T22:12:44.000,40.736274719238281,-73.993080139160156,1,N,1,0,8.3,0.5,1,7,7
4,2015-01-22T13:56:52.000,40.761867523193359,-73.968414306640625,0,9.5,0.5,2,1,2015-01-22T13:43:26.000,40.752170562744141,-73.982177734375,1,N,2.05,0,12.35,1.2,1,7,7
5,2015-02-27T12:22:59.000,40.757522583007812,-73.99835205078125,0,7.5,0.5,1,2,2015-02-27T12:14:01.000,40.750019073486328,-73.995208740234375,1,N,0,0,8.3,1,1,7,7
6,2015-02-23T21:03:59.000,40.774662017822266,-73.982391357421875,0.5,8.5,0.5,2,2,2015-02-23T20:55:44.000,40.783336639404297,-73.959098815917969,1,N,0,0,9.8,1.98,2,7,7
7,2015-05-04T16:44:04.000,40.764469146728516,-73.978790283203125,1,9,0.5,4,1,2015-05-04T16:32:15.000,40.7510986328125,-73.99407958984375,1,N,2.16,0,12.96,1.47,2,7,7
8,2015-05-06T18:23:38.000,40.759925842285156,-73.969856262207031,1,9,0.5,1,1,2015-05-06T18:11:59.000,40.776126861572266,-73.95587158203125,1,N,2.16,0,12.96,1.52,2,7,7
9,2015-04-19T00:43:12.000,40.744293212890625,-73.983551025390625,0.5,5,0.5,2,1,2015-04-19T00:39:03.000,40.750030517578125,-73.991744995117188,1,Y,1.25,0,7.55,0.7,1,7,7
10,2015-04-10T20:11:39.000,40.800041198730469,-73.970809936523438,1,28.5,0.5,1,1,2015-04-10T19:42:18.000,40.714313507080078,-74.014877319335937,1,N,3.7,0,34,8.2,1,7,7
11,2015-03-26T00:29:55.000,40.744831085205078,-73.981048583984375,0.5,7.5,0.5,6,1,2015-03-26T00:22:03.000,40.756401062011719,-73.990066528320312,1,N,3,0,11.8,1.39,2,7,7
12,2015-05-30T22:04:33.000,40.799240112304687,-73.97235107421875,0.5,9,0.5,1,1,2015-05-30T21:55:54.000,40.771240234375,-73.983352661132813,1,N,2.55,0,12.85,2.3,1,7,7
13,2015-03-22T14:35:32.000,40.751441955566406,-73.968009948730469,0,10.5,0.5,2,1,2015-03-22T14:27:48.000,40.719791412353516,-73.978851318359375,1,N,0.7,0,12,2.78,2,7,7
14,2015-05-26T12:47:13.000,40.763519287109375,-73.928764343261719,0,4,0.5,2,1,2015-05-26T12:44:42.000,40.761505126953125,-73.935173034667969,1,N,0.96,0,5.76,0.4,1,7,7
15,2015-03-23T00:44:28.000,40.741676330566406,-73.884910583496094,0.5,5.5,0.5,2,2,2015-03-23T00:38:56.000,40.748355865478516,-73.877052307128906,1,N,0,0,6.8,0.83,2,7,7
16,2015-05-23T11:44:35.000,40.745140075683594,-73.981086730957031,0,7,0.5,5,2,2015-05-23T11:36:42.000,40.753978729248047,-73.991928100585938,1,N,0,0,7.8,1.09,2,7,7
17,2015-06-18T00:00:25.000,40.757339477539063,-73.974052429199219,0.5,9.5,0.5,1,1,2015-06-17T23:50:52.000,40.728679656982422,-73.992446899414062,1,N,1.5,0,12.3,2.23,2,7,7
18,2015-06-25T21:21:40.000,40.764778137207031,-73.981964111328125,0.5,6.5,0.5,1,2,2015-06-25T21:15:48.000,40.779056549072266,-73.9775390625,1,N,0,0,7.8,1.14,2,7,7
19,2015-05-14T18:23:19.000,40.773658752441406,-73.979621887207031,1,7,0.5,1,1,2015-05-14T18:15:37.000,40.766490936279297,-73.962669372558594,1,N,1.76,0,10.56,1.1,2,7,7
20,2015-04-23T20:43:39.000,40.800071716308594,-73.938972473144531,0.5,6.5,0.5,2,2,2015-04-23T20:39:42.000,40.779071807861328,-73.953712463378906,1,N,0,0,7.8,1.68,2,7,7
21,2015-04-09T01:28:09.000,40.741981506347656,-73.980979919433594,0.5,7,0.5,1,1,2015-04-09T01:21:31.000,40.728450775146484,-73.978790283203125,1,N,2.08,0,10.38,1.29,2,7,7
22,2015-02-14T17:01:18.000,40.757472991943359,-73.984321594238281,0,10.5,0.5,1,2,2015-02-14T16:45:40.000,40.755641937255859,-73.974166870117187,1,N,0,0,11.3,0.94,2,7,7
23,2015-05-20T21:15:55.000,40.769016265869141,-73.958602905273437,0.5,6.5,0.5,1,1,2015-05-20T21:10:11.000,40.760066986083984,-73.971015930175781,1,N,1,0,8.8,1.1,1,7,7
24,2015-02-25T06:56:16.000,40.760074615478516,-73.971992492675781,0,8,0.5,1,2,2015-02-25T06:49:24.000,40.774410247802734,-73.957191467285156,1,N,0,0,8.8,1.7,1,7,7
25,2015-01-29T09:50:23.000,40.763126373291016,-73.967552185058594,0,13,0.5,1,1,2015-01-29T09:30:02.000,40.780998229980469,-73.949577331542969,1,N,2.76,0,16.56,1.7,1,7,7
26,2015-05-12T21:38:58.000,40.755908966064453,-73.969680786132813,0.5,13.5,0.5,6,1,2015-05-12T21:21:02.000,40.740020751953125,-74.003273010253906,1,N,3.7,0,18.5,2.84,2,7,7
27,2015-03-13T00:19:40.000,40.751148223876953,-73.990562438964844,0.5,8.5,0.5,1,1,2015-03-13T00:09:48.000,40.759616851806641,-73.97003173828125,1,N,2.45,0,12.25,1.74,2,7,7
28,2015-02-23T20:43:27.000,40.745166778564453,-73.99859619140625,0.5,10,0.5,1,2,2015-02-23T20:30:39.000,40.731487274169922,-73.982749938964844,1,N,0,0,11.3,1.64,2,7,7
29,2015-05-18T17:55:44.000,40.743755340576172,-73.973236083984375,0,10,0.5,1,1,2015-05-18T17:55:41.000,40.743766784667969,-73.973213195800781,5,N,2.16,0,12.96,0,2,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,2015-01-02T15:18:52.000,40.694850921630859,-73.9942626953125,0,18.5,0.5,3,2,2015-01-02T15:01:14.000,40.742107391357422,-73.974700927734375,1,N,0,0,19.3,5.67,2,7,7
9971,2015-02-03T05:37:32.000,0,0,0.5,13,0.5,1,2,2015-02-03T05:37:32.000,40.787788391113281,-73.955924987792969,1,N,0,0,14.3,0,1,7,10
9972,2015-06-21T11:55:24.000,40.690570831298828,-74.177490234375,0,68,0,3,2,2015-06-21T11:16:33.000,40.756439208984375,-73.973800659179688,3,N,0,11.75,80.05,17.78,2,7,7
9973,2015-02-21T11:25:37.000,40.719772338867188,-74.007118225097656,0,6,0.5,1,2,2015-02-21T11:20:15.000,40.724971771240234,-73.99468994140625,1,N,0,0,6.8,1.2,1,7,7
9974,2015-03-07T16:04:53.000,40.730037689208984,-74.003929138183594,0,11,0.5,1,2,2015-03-07T15:49:26.000,40.741806030273438,-73.985092163085938,1,N,0,0,11.8,2.03,2,7,7
9975,2015-04-24T19:55:13.000,40.714740753173828,-73.990196228027344,1,6,0.5,1,2,2015-04-24T19:48:31.000,40.721260070800781,-74.001449584960938,1,N,0,0,7.8,0.71,2,7,7
9976,2015-01-24T04:23:44.000,40.714351654052734,-73.96136474609375,0.5,19,0.5,2,2,2015-01-24T03:57:50.000,40.740238189697266,-74.003852844238281,1,N,0,0,20.3,4.2,1,7,7
9977,2015-05-03T13:04:23.000,40.7518310546875,-73.978630065917969,0,7.5,0.5,4,1,2015-05-03T12:54:46.000,40.758708953857422,-73.9892578125,1,N,2.49,0,10.79,0.89,2,7,7
9978,2015-04-23T16:44:04.000,40.746231079101563,-73.977729797363281,1,14.5,0.5,1,2,2015-04-23T16:22:30.000,40.717231750488281,-73.995414733886719,1,N,0,0,16.3,2.2,2,7,7
9979,2015-06-12T22:51:03.000,40.676258087158203,-73.802665710449219,0.5,9.5,0.5,5,2,2015-06-12T22:45:11.000,40.705593109130859,-73.81048583984375,1,N,0,0,10.8,2.67,2,7,7
9980,2015-05-02T19:14:05.000,40.779556274414063,-73.961662292480469,0,7.5,0.5,1,1,2015-05-02T19:07:11.000,40.765201568603516,-73.97833251953125,1,N,2.08,0,10.38,1.82,2,7,7
9981,2015-06-28T16:11:28.000,40.759960174560547,-73.973930358886719,0,7,0.5,1,1,2015-06-28T16:02:34.000,40.770606994628906,-73.981826782226563,1,N,1,0,8.8,1,1,7,7
9982,2015-05-13T23:59:34.000,40.724502563476563,-73.993782043457031,0.5,6.5,0.5,2,2,2015-05-13T23:53:44.000,40.720245361328125,-74.008522033691406,1,N,0,0,7.8,1.35,2,7,7
9983,2015-03-08T18:46:13.000,40.750473022460938,-73.994651794433594,0,5.5,0.5,2,4,2015-03-08T18:40:28.000,40.746208190917969,-74.000808715820313,1,N,0,0,6.3,0.5,1,7,7
9984,2015-05-06T07:38:19.000,40.758110046386719,-73.989112854003906,0,7.5,0.5,1,1,2015-05-06T07:30:22.000,40.764400482177734,-73.973014831542969,1,N,1.65,0,9.95,1.3,1,7,7
9985,2015-05-01T06:20:04.000,40.756015777587891,-74.002708435058594,0,6,0.5,2,1,2015-05-01T06:15:21.000,40.764076232910156,-73.988601684570313,1,N,1.36,0,8.16,1.25,2,7,7
9986,2015-03-04T08:08:08.000,40.788330078125,-73.956192016601563,0,12,0.5,1,1,2015-03-04T07:49:52.000,40.780117034912109,-73.976707458496094,1,N,2,0,14.8,1.8,1,7,7
9987,2015-01-13T13:09:32.000,40.790767669677734,-73.939125061035156,0,29,0.5,1,1,2015-01-13T12:24:37.000,40.747280120849609,-73.993080139160156,1,N,3.48,0,33.28,5.03,2,7,7
9988,2015-02-02T12:24:46.000,40.724746704101563,-73.99237060546875,0,9.5,0.5,1,1,2015-02-02T12:13:13.000,40.745304107666016,-73.998306274414063,1,N,2.05,0,12.35,2,1,7,7
9989,2015-06-26T17:57:33.000,40.765846252441406,-73.990669250488281,1,27,0.5,1,1,2015-06-26T17:13:22.000,40.777313232421875,-73.963600158691406,1,N,0,0,28.8,2.83,2,7,7
9990,2015-04-16T11:50:12.000,40.735828399658203,-74.005912780761719,0,10.5,0.5,1,2,2015-04-16T11:35:20.000,40.725761413574219,-73.989837646484375,1,N,0,0,11.3,1.53,2,7,7
9991,2015-06-27T18:39:45.000,40.770503997802734,-73.948600769042969,0,4,0.5,2,1,2015-06-27T18:37:18.000,40.7730712890625,-73.954093933105469,1,N,0.96,0,5.76,0.37,2,7,7
9992,2015-03-28T17:42:34.000,40.736251831054687,-73.993476867675781,0,8,0.5,3,2,2015-03-28T17:33:49.000,40.752639770507813,-73.992652893066406,1,N,0,0,8.8,1.62,2,7,7
9993,2015-01-14T09:21:15.000,40.763961791992188,-73.982772827148438,0,11.5,0.5,1,2,2015-01-14T09:04:31.000,40.750705718994141,-73.977828979492188,1,Y,0,0,12.3,1.4,1,7,7
9994,2015-03-15T11:11:24.000,40.737411499023438,-73.998733520507813,0,3.5,0.5,5,2,2015-03-15T11:09:52.000,40.730911254882812,-74.00140380859375,1,N,0,0,4.3,0.53,2,7,7
9995,2015-05-29T15:04:46.000,40.747489929199219,-73.956672668457031,0,23,0.5,1,1,2015-05-29T14:41:51.000,40.773880004882812,-73.875038146972656,1,N,4.76,0,28.56,7.08,2,7,7
9996,2015-02-20T22:28:36.000,40.718341827392578,-73.976737976074219,0.5,5.5,0.5,2,2,2015-02-20T22:23:45.000,40.719318389892578,-73.987762451171875,1,N,0,0,6.8,0.87,2,7,7
9997,2015-06-23T20:21:19.000,0,0,0.5,7,0.5,1,2,2015-06-23T20:14:33.000,0,0,1,N,0,0,8.3,1.3,1,10,10
9998,2015-01-21T07:37:55.000,40.787982940673828,-73.953628540039063,0,4.5,0.5,1,2,2015-01-21T07:34:49.000,40.779758453369141,-73.9600830078125,1,N,0,0,5.3,0.7,2,7,7
9999,2015-06-30T21:19:21.000,40.76715087890625,-73.989982604980469,0.5,8.5,0.5,5,1,2015-06-30T21:08:47.000,40.751758575439453,-73.979774475097656,1,N,1,0,10.8,1.64,2,7,7