In [1]:
import pandas as pd
import networkx as nx
from sodapy import Socrata
import math
import random
import matplotlib.pyplot as plt
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import copy 

#to supress some annoying warnings
# import warnings; warnings.simplefilter('ignore')

In [2]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("2yzn-sicd", limit=20000)

# Convert to pandas DataFrame
data = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
data

,dropoff_datetime,dropoff_latitude,dropoff_longitude,extra,fare_amount,mta_tax,passenger_count,payment_type,pickup_datetime,pickup_latitude,pickup_longitude,rate_code,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,vendor_id
0,2015-02-04T13:06:03.000,40.7449951171875,-74.002365112304687,0,18,0.5,5,1,2015-02-04T12:38:47.000,40.767932891845703,-73.9622802734375,1,N,3.76,0,22.56,3.46,2
1,2015-06-06T11:01:59.000,40.772018432617187,-73.955841064453125,0,7.5,0.5,1,1,2015-06-06T10:54:25.000,40.765346527099609,-73.975196838378906,1,N,1.65,0,9.95,1.6,1
2,2015-04-20T18:31:00.000,40.704860687255859,-74.017387390136719,1,3.5,0.5,5,1,2015-04-20T18:29:06.000,40.708278656005859,-74.01763916015625,1,N,1.5,0,6.8,0.35,2
3,2015-05-09T23:26:40.000,40.763805389404297,-73.925048828125,0.5,24,0.5,1,2,2015-05-09T23:00:54.000,40.727981567382813,-73.982185363769531,1,N,0,0,25.3,6.6,1
4,2015-03-26T20:27:57.000,40.757457733154297,-73.963676452636719,0.5,17,0.5,1,2,2015-03-26T20:14:30.000,40.706417083740234,-74.005531311035156,1,N,0,0,18.3,5.1,1
5,2015-06-12T19:40:05.000,40.764270782470703,-73.995704650878906,1,6,0.5,2,1,2015-06-12T19:34:16.000,40.754261016845703,-73.995773315429688,1,N,1.56,0,9.36,1.06,2
6,2015-04-17T19:28:10.000,40.735210418701172,-74.000869750976563,1,7,0.5,1,1,2015-04-17T19:19:29.000,40.726581573486328,-73.994110107421875,1,N,1.76,0,10.56,0.98,2
7,2015-05-21T17:46:20.000,40.643581390380859,-73.783897399902344,0,52,0.5,2,1,2015-05-21T16:12:02.000,40.746078491210937,-73.990531921386719,2,N,2,5.54,60.34,16,2
8,2015-01-31T07:48:46.000,40.748668670654297,-74.008171081542969,0,8,0.5,2,1,2015-01-31T07:39:56.000,40.741783142089844,-73.989753723144531,1,N,1,0,9.8,1.3,1
9,2015-01-23T23:27:30.000,40.714504241943359,-73.941871643066406,0.5,4,0.5,3,2,2015-01-23T23:24:38.000,40.707309722900391,-73.939704895019531,1,N,0,0,5.3,0.5,1
10,2015-03-13T08:19:35.000,40.736175537109375,-73.982826232910156,0,7.5,0.5,2,2,2015-03-13T08:10:20.000,40.737201690673828,-73.990531921386719,1,N,0,0,8.3,1,1
11,2015-04-27T14:52:00.000,40.788860321044922,-73.955169677734375,0,7.5,0.5,1,2,2015-04-27T14:42:33.000,40.781982421875,-73.956001281738281,1,N,0,0,8.3,1.1,1
12,2015-02-19T11:12:05.000,40.770584106445313,-73.980354309082031,0,5.5,0.5,1,4,2015-02-19T11:06:40.000,40.77850341796875,-73.981414794921875,1,N,0,0,6.3,0.7,1
13,2015-05-13T09:43:55.000,40.748001098632813,-73.992652893066406,0,7.5,0.5,2,1,2015-05-13T09:33:36.000,40.741111755371094,-73.994232177734375,1,N,0.7,0,9,0.6,2
14,2015-02-21T02:53:55.000,40.856063842773438,-73.930412292480469,0.5,27,0.5,3,1,2015-02-21T02:33:30.000,40.757213592529297,-73.989906311035156,1,N,5.66,0,33.96,8.94,2
15,2015-03-06T21:16:03.000,40.730205535888672,-74.006256103515625,0.5,10.5,0.5,3,1,2015-03-06T21:00:49.000,40.729225158691406,-73.983589172363281,1,N,2.36,0,14.16,1.5,1
16,2015-05-06T00:43:37.000,40.808006286621094,-73.945899963378906,0.5,23.5,0.5,1,1,2015-05-06T00:23:40.000,40.742328643798828,-73.993080139160156,1,N,1.8,0,26.6,7.47,2
17,2015-04-17T20:55:24.000,40.725120544433594,-73.995811462402344,0.5,11.5,0.5,1,1,2015-04-17T20:37:34.000,40.747623443603516,-73.980705261230469,1,N,2.56,0,15.36,0.89,2
18,2015-04-12T01:09:58.000,40.776966094970703,-73.916526794433594,0.5,8,0.5,1,1,2015-04-12T01:00:29.000,40.761688232421875,-73.909088134765625,1,N,1,0,10.3,1.5,1
19,2015-02-06T01:15:15.000,0,0,0.5,6.5,0.5,2,1,2015-02-06T01:09:47.000,0,0,1,N,1,0,8.8,1.4,1
20,2015-03-26T15:53:45.000,40.73529052734375,-73.985923767089844,0,10,0.5,1,2,2015-03-26T15:38:45.000,40.725513458251953,-74.000823974609375,1,N,0,0,10.8,1.26,2
21,2015-03-24T09:22:39.000,40.695060729980469,-73.992729187011719,0,12,0.5,5,2,2015-03-24T09:09:45.000,40.726921081542969,-74.00567626953125,1,N,0,0,12.8,2.96,2
22,2015-05-24T19:17:16.000,40.733409881591797,-73.987060546875,0,4,0.5,1,1,2015-05-24T19:14:29.000,40.7384033203125,-73.990005493164062,1,N,1.2,0,6,0.5,1
23,2015-04-28T22:16:47.000,40.680568695068359,-73.994743347167969,0.5,4.5,0.5,1,2,2015-04-28T22:12:58.000,40.683914184570313,-74.001495361328125,1,N,0,0,5.8,0.52,2
24,2015-05-27T08:15:41.000,40.746715545654297,-73.996429443359375,0,9.5,0.5,1,2,2015-05-27T08:05:40.000,40.71868896484375,-74.008583068847656,1,N,0,0,10.3,2,1
25,2015-02-07T09:21:28.000,40.780673980712891,-73.948280334472656,0,15.5,0.5,1,1,2015-02-07T09:05:21.000,40.743892669677734,-73.923149108886719,1,N,1.5,0,17.8,4.28,2
26,2015-04-01T08:33:54.000,0,0,0,11.5,0.5,6,1,2015-04-01T08:17:11.000,0,0,1,N,3.08,0,15.38,1.62,2
27,2015-01-23T01:58:21.000,40.724071502685547,-73.945976257324219,0.5,12,0.5,5,1,2015-01-23T01:49:36.000,40.720550537109375,-73.988014221191406,1,N,3.32,0,16.62,3.48,2
28,2015-02-08T11:54:19.000,40.749362945556641,-73.982978820800781,0,13.5,0.5,1,1,2015-02-08T11:39:13.000,40.78729248046875,-73.973892211914063,1,N,2.85,0,17.15,3.3,1
29,2015-02-19T18:53:48.000,40.745811462402344,-73.986579895019531,1,11,0.5,2,2,2015-02-19T18:37:50.000,40.762561798095703,-73.982460021972656,1,N,0,0,12.8,1.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,2015-06-18T00:57:25.000,40.813491821289063,-73.961135864257813,0.5,24.5,0.5,2,2,2015-06-18T00:29:02.000,40.743759155273438,-73.988014221191406,1,N,0,0,25.8,6.47,2
19971,2015-04-10T13:57:59.000,40.742343902587891,-74.000907897949219,0,5.5,0.5,2,1,2015-04-10T13:52:29.000,40.747962951660156,-74.004623413085938,1,N,1,0,7.3,0.5,1
19972,2015-02-24T12:24:34.000,40.7686767578125,-73.958541870117188,0,4.5,0.5,5,2,2015-02-24T12:20:29.000,40.763912200927734,-73.954780578613281,1,N,0,0,5.3,0.48,2
19973,2015-06-07T17:12:23.000,40.644161224365234,-73.790596008300781,0,52,0.5,1,2,2015-06-07T16:02:56.000,40.738941192626953,-74.002655029296875,2,N,0,0,52.8,20.4,1
19974,2015-02-18T19:53:12.000,40.782855987548828,-73.948684692382812,1,26.5,0.5,1,2,2015-02-18T19:24:19.000,40.701755523681641,-74.011116027832031,1,N,0,0,28.3,8.1,1
19975,2015-02-16T00:27:53.000,40.736728668212891,-73.980781555175781,0.5,4,0.5,3,2,2015-02-16T00:26:15.000,40.732936859130859,-73.987335205078125,1,N,0,0,5.3,0.59,2
19976,2015-02-17T19:40:31.000,40.783412933349609,-73.958778381347656,1,5,0.5,1,2,2015-02-17T19:36:50.000,40.775066375732422,-73.965003967285156,1,N,0,0,6.8,0.8,1
19977,2015-04-03T12:59:29.000,40.764072418212891,-73.966728210449219,0,7.5,0.5,2,1,2015-04-03T12:51:13.000,40.781768798828125,-73.953994750976563,1,N,1.65,0,9.95,1.3,1
19978,2015-02-03T10:47:11.000,40.735515594482422,-73.985389709472656,0,6.5,0.5,1,2,2015-02-03T10:40:32.000,40.721435546875,-73.989013671875,1,N,0,0,7.3,1.1,1
19979,2015-04-22T16:48:24.000,40.790058135986328,-73.975067138671875,1,12,0.5,5,2,2015-04-22T16:31:42.000,40.764968872070313,-73.970382690429688,1,N,0,0,13.8,2.32,2
19980,2015-03-15T02:50:51.000,40.726509094238281,-73.998680114746094,0.5,17,0.5,1,1,2015-03-15T02:31:48.000,40.776569366455078,-73.952743530273438,1,N,2,0,20.3,4.67,2
19981,2015-06-26T01:01:11.000,40.791011810302734,-73.939369201660156,0.5,6,0.5,1,2,2015-06-26T00:55:44.000,40.783351898193359,-73.951248168945312,1,N,0,0,7.3,1.17,2
19982,2015-02-17T22:50:30.000,40.8214111328125,-73.836402893066406,0.5,28,0.5,2,1,2015-02-17T22:31:17.000,40.771308898925781,-73.953475952148438,1,N,2,0,31.3,9.6,1
19983,2015-03-20T15:13:52.000,40.735603332519531,-73.981391906738281,0,9,0.5,1,1,2015-03-20T15:02:01.000,40.750606536865234,-73.989242553710938,1,N,1,0,10.8,1.52,2
19984,2015-05-20T23:41:39.000,40.729362487792969,-73.944915771484375,0.5,4.5,0.5,3,2,2015-05-20T23:37:51.000,40.723854064941406,-73.950843811035156,1,N,0,0,5.8,0.58,2
19985,2015-01-24T17:11:48.000,40.772335052490234,-73.94842529296875,0,5,0.5,1,1,2015-01-24T17:07:31.000,40.77410888671875,-73.957206726074219,1,N,1,0,6.8,0.7,1
19986,2015-02-01T02:45:44.000,40.733360290527344,-73.987136840820313,0.5,13,0.5,1,2,2015-02-01T02:30:00.000,40.768291473388672,-73.984703063964844,1,N,0,0,14.3,3.15,2
19987,2015-03-03T06:26:55.000,40.742698669433594,-74.000450134277344,0,6.5,0.5,1,1,2015-03-03T06:22:53.000,40.760963439941406,-73.990859985351563,1,Y,1,0,8.3,1.6,1
19988,2015-03-07T14:34:25.000,40.720535278320313,-73.943939208984375,0,19.5,0.5,1,1,2015-03-07T14:14:40.000,40.773174285888672,-73.885551452636719,1,N,6.09,0,26.39,5.85,2
19989,2015-06-20T11:59:46.000,40.806358337402344,-73.961334228515625,0,8,0.5,1,1,2015-06-20T11:53:08.000,40.780567169189453,-73.976516723632813,1,N,1.76,0,10.56,2.28,2
19990,2015-06-07T14:51:57.000,40.751277923583984,-74.001602172851562,0,4,0.5,1,1,2015-06-07T14:50:26.000,40.743213653564453,-74.007354736328125,1,N,0.96,0,5.76,0.66,2
19991,2015-03-20T15:39:38.000,40.769649505615234,-73.9940185546875,0,7,0.5,1,1,2015-03-20T15:31:41.000,40.762603759765625,-73.985466003417969,1,N,1.56,0,9.36,0.7,1
19992,2015-01-30T20:21:19.000,40.758258819580078,-73.968368530273438,0.5,6.5,0.5,1,1,2015-01-30T20:14:29.000,40.768451690673828,-73.982162475585937,1,N,1.55,0,9.35,1.2,1
19993,2015-05-26T01:03:09.000,40.796085357666016,-73.935653686523438,0.5,9,0.5,1,2,2015-05-26T00:56:26.000,40.771522521972656,-73.956268310546875,1,N,0,0,10.3,2.4,1
19994,2015-01-26T05:50:06.000,40.768455505371094,-73.86181640625,0.5,23,0.5,1,1,2015-01-26T05:36:49.000,40.779933929443359,-73.947311401367188,1,N,10,0,34.3,8.1,1
19995,2015-01-09T23:36:20.000,40.695259094238281,-73.983421325683594,0.5,25,0.5,2,1,2015-01-09T23:14:33.000,40.766693115234375,-73.960983276367188,1,Y,3.7,0,30,7.7,1
19996,2015-04-17T12:39:19.000,40.834774017333984,-73.947685241699219,0,19,0.5,1,1,2015-04-17T12:22:24.000,40.776859283447266,-73.961669921875,1,N,3.5,0,23.3,5.7,1
19997,2015-04-09T18:29:10.000,40.709362030029297,-74.015335083007812,1,18.5,0.5,1,2,2015-04-09T18:14:26.000,40.750251770019531,-73.973251342773438,1,N,0,0,20.3,5.95,2
19998,2015-01-03T13:56:41.000,40.857379913330078,-73.935249328613281,0,20,0.5,1,1,2015-01-03T13:39:41.000,40.785575866699219,-73.97216796875,1,N,5.2,0,26,6,1
19999,2015-03-03T15:21:08.000,40.6640625,-73.987815856933594,0,31,0.5,1,1,2015-03-03T14:41:05.000,40.743675231933594,-73.983779907226562,1,N,4,0,35.8,8.5,1

In [4]:
geolocator = Nominatim(user_agent="my-application")
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=2)

In [5]:
def to_zip(lat,lon):
    cd = copy.deepcopy(lat)
    cd += ","
    cd += copy.deepcopy(lon)
#     print("query: ", cd)
    loc = reverse(cd)
    try:
        res = int(loc.raw['address']['postcode'])
        return res 
    except:
        return 0

In [ ]:
dropoff_zip = []
pickup_zip = []
for i in range(data.shape[0]):
    d_lat = data['dropoff_latitude'][i]
    d_lon = data['dropoff_longitude'][i]
    
    p_lat = data['pickup_latitude'][i]
    p_lon = data['pickup_longitude'][i]
    
    dropoff_zip.append(to_zip(d_lat, d_lon))
    pickup_zip.append(to_zip(p_lat, p_lon))
    
data.insert(loc=len(data.columns),column='dropoff_zip', value=dropoff_zip)
data.insert(loc=len(data.columns),column='pickup_zip', value=pickup_zip)
data

In [ ]:
data.to_pickle("data")

In [ ]:
# pos_2d = [(x % grid_size, math.floor(x/grid_size), ) for x in range(grid_size*grid_size)]
# pos_mapping = dict(zip(range(grid_size*grid_size), pos_2d))
# pos_mapping
# nx.draw(G, pos_mapping)

In [ ]:
# create network graph and initialize nodes based on grid size 
G = nx.DiGraph(); 
for ride in range(data.shape[0]):
    src = data['pickup_zip'][ride]
    dest = data['dropoff_zip'][ride]
    G.add_edge(src, dest)

In [ ]:
# G.in_degree[]

In [ ]:
in_degree = np.zeros(100)
out_degree = np.zeros(100)

for k in G.nodes:
    in_num = G.in_degree[k]
    out_num = G.out_degree[k]
    in_degree[in_num] += 1
    out_degree[out_num] += 1
print(np.sum(in_degree))
print(np.sum(out_degree))
out_degree

In [ ]:
in_degree