In [1]:
import pandas as pd
import networkx as nx
from sodapy import Socrata
import math
import random
import matplotlib.pyplot as plt
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import copy 

import seaborn as sns

sns.set_style('darkgrid')

#to supress some annoying warnings
# import warnings; warnings.simplefilter('ignore')

In [2]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.

num_trips = 1000000
results = client.get("2yzn-sicd", limit=num_trips)

# Convert to pandas DataFrame
data = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
data

,dropoff_datetime,dropoff_latitude,dropoff_longitude,extra,fare_amount,imp_surcharge,mta_tax,passenger_count,payment_type,pickup_datetime,pickup_latitude,pickup_longitude,rate_code,ratecodeid,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,vendor_id
0,2015-08-15T20:29:33.000,40.74542236328125,-73.9794921875,0.5,5,0.3,0.5,1,1,2015-08-15T20:25:53.000,40.75445556640625,-73.968765258789063,NaN,1,N,1.26,0,7.56,1.01,2
1,2015-08-31T15:32:39.000,40.755142211914063,-73.976226806640625,0,13,0.3,0.5,1,2,2015-08-31T15:11:55.000,40.769306182861328,-73.977615356445313,NaN,1,N,0,0,13.8,1.49,2
2,2015-08-24T09:21:00.000,40.763984680175781,-73.955787658691406,0,6.5,0.3,0.5,1,1,2015-08-24T09:14:31.000,40.757289886474609,-73.970016479492188,NaN,1,N,3,0,10.3,1.1,1
3,2015-08-05T09:12:25.000,40.756401062011719,-73.972610473632812,0,10,0.3,0.5,1,1,2015-08-05T08:57:43.000,40.77178955078125,-73.961479187011719,NaN,1,N,1,0,11.8,1.22,2
4,2015-08-23T17:46:30.000,40.759124755859375,-73.982231140136719,0,8.5,0.3,0.5,1,1,2015-08-23T17:35:22.000,40.760608673095703,-73.994712829589844,NaN,1,N,2.32,0,11.62,0.9,1
5,2015-08-02T12:59:08.000,40.775840759277344,-73.950897216796875,0,11,0.3,0.5,2,2,2015-08-02T12:46:46.000,40.781772613525391,-73.982994079589844,NaN,1,N,0,0,11.8,2.3,1
6,2015-08-23T00:00:29.000,40.750583648681641,-73.983512878417969,0.5,7.5,0.3,0.5,4,1,2015-08-22T23:52:00.000,40.760780334472656,-73.969261169433594,NaN,1,N,1.75,0,10.55,1.2,1
7,2015-08-16T09:56:33.000,0,0,0,14.5,0.3,0.5,1,1,2015-08-16T09:44:34.000,0,0,NaN,1,N,3.06,0,18.36,4.2,1
8,2015-08-15T21:39:53.000,40.730751037597656,-73.981124877929688,0.5,6,0.3,0.5,6,1,2015-08-15T21:33:56.000,40.719711303710937,-73.989944458007813,NaN,1,N,1.46,0,8.76,1.04,2
9,2015-08-20T21:54:41.000,40.676830291748047,-73.981475830078125,0.5,22.5,0.3,0.5,1,1,2015-08-20T21:29:28.000,40.712268829345703,-73.958877563476562,NaN,1,N,2,0,25.8,6.4,1
10,2015-08-21T00:08:40.000,40.770133972167969,-73.980369567871094,0.5,5.5,0.3,0.5,1,1,2015-08-21T00:03:39.000,40.764556884765625,-73.973976135253906,NaN,1,N,4,0,10.8,0.6,1
11,2015-08-01T23:22:39.000,40.720020294189453,-73.9884033203125,0.5,6.5,0.3,0.5,1,1,2015-08-01T23:14:00.000,40.727058410644531,-73.9837646484375,NaN,1,N,1.56,0,9.36,0.59,2
12,2015-08-28T23:27:09.000,40.75579833984375,-73.970634460449219,0.5,17.5,0.3,0.5,1,1,2015-08-28T22:58:07.000,40.756488800048828,-73.990760803222656,NaN,1,N,3.76,0,22.56,1.41,2
13,2015-08-07T05:52:19.000,40.705371856689453,-74.004249572753906,0.5,4.5,0.3,0.5,1,1,2015-08-07T05:48:54.000,40.711833953857422,-74.008316040039063,NaN,1,N,1.45,0,7.25,0.5,1
14,2015-08-03T23:54:42.000,40.769107818603516,-73.9552001953125,0.5,11,0.3,0.5,3,1,2015-08-03T23:45:07.000,40.743000030517578,-73.985580444335937,NaN,1,N,3.05,0,15.35,2.9,1
15,2015-08-21T11:57:49.000,40.706306457519531,-74.003082275390625,0,10,0.3,0.5,1,1,2015-08-21T11:49:29.000,40.722015380859375,-73.986412048339844,NaN,1,N,1,0,11.8,2.6,2
16,2015-08-22T04:15:46.000,40.648059844970703,-73.960700988769531,0.5,29.5,0.3,0.5,1,1,2015-08-22T03:44:36.000,40.727218627929688,-74.000312805175781,NaN,1,N,2,0,32.8,8.75,2
17,2015-08-21T11:19:34.000,40.750526428222656,-73.977165222167969,0,5.5,0.3,0.5,1,1,2015-08-21T11:14:07.000,40.757106781005859,-73.978271484375,NaN,1,N,1.26,0,7.56,0.7,1
18,2015-08-25T19:42:41.000,40.7567138671875,-73.978408813476563,1,5,0.3,0.5,2,2,2015-08-25T19:37:47.000,40.763851165771484,-73.973442077636719,NaN,1,N,0,0,6.8,0.5,1
19,2015-08-16T14:16:57.000,40.7705078125,-73.960029602050781,0,7,0.3,0.5,1,2,2015-08-16T14:09:44.000,40.756927490234375,-73.97003173828125,NaN,1,N,0,0,7.8,1.04,2
20,2015-08-20T14:38:52.000,40.775775909423828,-73.960891723632812,0,8,0.3,0.5,1,2,2015-08-20T14:31:01.000,40.791160583496094,-73.965087890625,NaN,1,N,0,0,8.8,1.54,2
21,2015-08-31T10:11:47.000,40.770816802978516,-73.98651123046875,0,5.5,0.3,0.5,1,2,2015-08-31T10:06:28.000,40.757625579833984,-73.99700927734375,NaN,1,N,0,0,6.3,1.12,2
22,2015-08-13T15:59:04.000,40.738014221191406,-73.992294311523438,0,12.5,0.3,0.5,3,1,2015-08-13T15:42:51.000,40.764583587646484,-73.9730224609375,NaN,1,N,2.65,0,15.95,2.1,1
23,2015-08-29T21:16:41.000,40.753818511962891,-73.97747802734375,0.5,3.5,0.3,0.5,6,2,2015-08-29T21:15:16.000,40.758560180664063,-73.977500915527344,NaN,1,N,0,0,4.8,0.43,2
24,2015-08-07T13:29:57.000,40.645450592041016,-73.776374816894531,0,52,0.3,0.5,1,2,2015-08-07T12:30:17.000,40.723823547363281,-73.991676330566406,NaN,2,N,0,0,52.8,18.1,1
25,2015-08-20T11:32:20.000,40.775630950927734,-73.982383728027344,0,10.5,0.3,0.5,1,2,2015-08-20T11:18:00.000,40.766231536865234,-73.954170227050781,NaN,1,N,0,0,11.3,1.88,2
26,2015-08-14T09:56:00.000,40.776187896728516,-73.959846496582031,0,4.5,0.3,0.5,1,2,2015-08-14T09:52:46.000,40.768520355224609,-73.965377807617187,NaN,1,N,0,0,5.3,0.6,1
27,2015-08-22T01:13:39.000,40.736942291259766,-73.995864868164063,0.5,6,0.3,0.5,1,1,2015-08-22T01:08:13.000,40.724510192871094,-73.9991455078125,NaN,1,N,1.46,0,8.76,1.1,1
28,2015-08-03T16:23:13.000,40.752616882324219,-73.979621887207031,1,11,0.3,0.5,1,2,2015-08-03T16:06:44.000,40.750324249267578,-73.994354248046875,NaN,1,N,0,0,12.8,1.07,2
29,2015-08-13T23:30:43.000,40.749279022216797,-73.992172241210937,0.5,7.5,0.3,0.5,1,1,2015-08-13T23:23:02.000,40.752830505371094,-73.973342895507813,NaN,1,N,1.76,0,10.56,1.49,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,2015-06-16T19:46:48.000,40.729297637939453,-73.991950988769531,1,5,NaN,0.5,4,1,2015-06-16T19:41:12.000,40.731483459472656,-74.000587463378906,1,NaN,N,1,0,7.8,0.58,2
999971,2015-02-03T22:25:20.000,40.793270111083984,-73.950759887695313,0.5,19,NaN,0.5,5,1,2015-02-03T22:02:10.000,40.736579895019531,-73.997383117675781,1,NaN,N,4.06,0,24.36,4.98,2
999972,2015-06-02T08:23:11.000,40.756141662597656,-73.990982055664063,0,39.5,NaN,0.5,2,1,2015-06-02T07:24:17.000,40.770111083984375,-73.864280700683594,1,NaN,N,9.17,5.54,55.01,9.63,2
999973,2015-03-14T21:11:20.000,40.761875152587891,-73.929862976074219,0.5,25.5,NaN,0.5,2,1,2015-03-14T20:36:33.000,40.731716156005859,-74.000930786132813,1,NaN,N,5.36,0,32.16,6.24,2
999974,2015-04-06T16:53:12.000,40.78167724609375,-73.958610534667969,1,8.5,NaN,0.5,1,1,2015-04-06T16:44:24.000,40.783199310302734,-73.98028564453125,1,NaN,N,1,0,11.3,1.6,1
999975,2015-06-17T20:02:58.000,40.782131195068359,-73.955703735351563,0.5,5.5,NaN,0.5,1,2,2015-06-17T19:59:13.000,40.767768859863281,-73.968177795410156,1,NaN,N,0,0,6.8,1.18,2
999976,2015-03-26T08:14:14.000,40.741043090820313,-73.988105773925781,0,5.5,NaN,0.5,1,1,2015-03-26T08:09:26.000,40.749156951904297,-73.99200439453125,1,NaN,N,1.25,0,7.55,0.8,1
999977,2015-02-02T09:53:01.000,40.763519287109375,-73.971824645996094,0,17.5,NaN,0.5,1,2,2015-02-02T09:25:53.000,40.733295440673828,-73.999664306640625,1,NaN,N,0,0,18.3,2.7,1
999978,2015-06-08T11:55:29.000,40.760795593261719,-73.984260559082031,0,8,NaN,0.5,1,1,2015-06-08T11:45:45.000,40.776679992675781,-73.986808776855469,1,NaN,N,2.2,0,11,1.3,1
999979,2015-02-15T10:25:40.000,40.732761383056641,-74.00469970703125,0,8,NaN,0.5,1,1,2015-02-15T10:17:46.000,40.715511322021484,-74.009101867675781,1,NaN,N,2.2,0,11,1.7,2
999980,2015-05-08T09:29:36.000,40.762702941894531,-73.975326538085938,0,9,NaN,0.5,1,2,2015-05-08T09:18:24.000,40.776817321777344,-73.976959228515625,1,NaN,N,0,0,9.8,1.35,2
999981,2015-03-10T09:47:59.000,40.730186462402344,-74.006706237792969,0,15,NaN,0.5,1,1,2015-03-10T09:26:00.000,40.7039794921875,-74.006782531738281,1,NaN,N,2,0,17.8,2.8,1
999982,2015-01-08T12:56:19.000,40.755306243896484,-73.991050720214844,0,14,NaN,0.5,2,2,2015-01-08T12:38:03.000,40.715370178222656,-74.005348205566406,1,NaN,N,0,0,14.8,3.1,1
999983,2015-03-18T22:26:30.000,40.791351318359375,-73.952507019042969,0.5,5.5,NaN,0.5,1,1,2015-03-18T22:22:23.000,40.791839599609375,-73.965087890625,1,NaN,N,1.36,0,8.16,1.05,2
999984,2015-03-27T18:42:00.000,40.753250122070313,-73.974235534667969,1,29.5,NaN,0.5,4,2,2015-03-27T18:01:59.000,40.722515106201172,-73.974723815917969,1,NaN,N,0,0,31.3,7.01,2
999985,2015-01-25T10:06:01.000,40.776222229003906,-73.964210510253906,0,5,NaN,0.5,2,2,2015-01-25T10:02:45.000,40.785316467285156,-73.955757141113281,1,NaN,N,0,0,5.8,0.95,2
999986,2015-02-13T14:12:28.000,40.762138366699219,-73.983024597167969,0,14.5,NaN,0.5,5,1,2015-02-13T13:50:33.000,40.74053955078125,-73.979019165039063,1,NaN,N,3.06,0,18.36,2.16,2
999987,2015-05-05T18:09:29.000,40.739086151123047,-73.987335205078125,1,8.5,NaN,0.5,5,1,2015-05-05T17:58:04.000,40.751010894775391,-73.986602783203125,1,NaN,N,2.06,0,12.36,1.3,2
999988,2015-04-13T09:20:59.000,40.773780822753906,-73.981124877929688,0,12.5,NaN,0.5,1,2,2015-04-13T09:06:46.000,40.789680480957031,-73.980567932128906,1,NaN,N,0,0,13.3,2.87,2
999989,2015-02-07T11:50:51.000,40.732891082763672,-74.006401062011719,0,6.5,NaN,0.5,1,1,2015-02-07T11:43:05.000,40.731903076171875,-73.995674133300781,1,NaN,N,2.19,0,9.49,1.17,2
999990,2015-03-14T06:27:41.000,40.783000946044922,-73.973831176757813,0,16.5,NaN,0.5,2,1,2015-03-14T06:14:03.000,40.721385955810547,-73.989105224609375,1,NaN,N,2.6,0,19.9,5.38,2
999991,2015-02-24T06:21:41.000,40.774425506591797,-73.871749877929688,0,25,NaN,0.5,1,1,2015-02-24T06:06:29.000,40.769741058349609,-73.960479736328125,1,NaN,N,6.23,5.33,37.36,8.76,2
999992,2015-03-24T18:03:46.000,40.744514465332031,-73.983268737792969,1,6,NaN,0.5,1,1,2015-03-24T17:57:46.000,40.739753723144531,-73.991104125976563,1,NaN,N,1.56,0,9.36,0.8,1
999993,2015-06-14T16:07:14.000,40.759372711181641,-73.984977722167969,0,52,NaN,0.5,2,2,2015-06-14T15:14:48.000,40.687950134277344,-73.808250427246094,2,NaN,N,0,5.54,58.34,13.95,2
999994,2015-01-04T21:56:27.000,40.719619750976562,-74.010383605957031,0.5,7.5,NaN,0.5,1,1,2015-01-04T21:48:21.000,40.725246429443359,-73.992401123046875,1,NaN,N,1,0,9.8,1.7,1
999995,2015-01-30T08:25:43.000,40.740589141845703,-73.986030578613281,0,23,NaN,0.5,1,1,2015-01-30T07:55:06.000,40.709880828857422,-74.013511657714844,1,NaN,N,4.76,0,28.56,5.43,2
999996,2015-02-28T17:51:21.000,40.643821716308594,-73.790390014648437,0,52,NaN,0.5,1,1,2015-02-28T17:00:16.000,40.720554351806641,-74.003288269042969,2,NaN,N,13.2,0,66,19.3,1
999997,2015-04-21T14:02:45.000,40.759410858154297,-73.981376647949219,0,13,NaN,0.5,1,1,2015-04-21T13:43:53.000,40.785213470458984,-73.9730224609375,1,NaN,N,4.14,0,17.94,2.19,2
999998,2015-04-22T11:05:15.000,40.764541625976562,-73.980720520019531,0,5.5,NaN,0.5,1,1,2015-04-22T10:59:17.000,40.773208618164062,-73.982345581054687,1,NaN,N,1.85,0,8.15,0.7,1
999999,2015-06-10T14:21:49.000,40.738258361816406,-73.983558654785156,0,3.5,NaN,0.5,1,1,2015-06-10T14:19:51.000,40.735401153564453,-73.982559204101563,1,NaN,N,1,0,5.3,0.28,2

In [4]:
# concatenate all pickup and dropoff coordiantes together to prep for clustering
points = data[['dropoff_latitude','dropoff_longitude']]
points = points.rename(index=str, columns={"dropoff_latitude":"pickup_latitude", "dropoff_longitude":"pickup_longitude" })
points
points = points.append(data[['pickup_latitude','pickup_longitude']], ignore_index=True)
points = points.rename(index=str, columns={"pickup_latitude":"latitude", "pickup_longitude":"longitude" })
points = points.astype('float')

In [5]:
points

          latitude  longitude
0        40.745422 -73.979492
1        40.755142 -73.976227
2        40.763985 -73.955788
3        40.756401 -73.972610
4        40.759125 -73.982231
5        40.775841 -73.950897
6        40.750584 -73.983513
7         0.000000   0.000000
8        40.730751 -73.981125
9        40.676830 -73.981476
10       40.770134 -73.980370
11       40.720020 -73.988403
12       40.755798 -73.970634
13       40.705372 -74.004250
14       40.769108 -73.955200
15       40.706306 -74.003082
16       40.648060 -73.960701
17       40.750526 -73.977165
18       40.756714 -73.978409
19       40.770508 -73.960030
20       40.775776 -73.960892
21       40.770817 -73.986511
22       40.738014 -73.992294
23       40.753819 -73.977478
24       40.645451 -73.776375
25       40.775631 -73.982384
26       40.776188 -73.959846
27       40.736942 -73.995865
28       40.752617 -73.979622
29       40.749279 -73.992172
...            ...        ...
1999970  40.731483 -74.000587
1999971  40.736580 -73.997383
1999972  40.770111 -73.864281
1999973  40.731716 -74.000931
1999974  40.783199 -73.980286
1999975  40.767769 -73.968178
1999976  40.749157 -73.992004
1999977  40.733295 -73.999664
1999978  40.776680 -73.986809
1999979  40.715511 -74.009102
1999980  40.776817 -73.976959
1999981  40.703979 -74.006783
1999982  40.715370 -74.005348
1999983  40.791840 -73.965088
1999984  40.722515 -73.974724
1999985  40.785316 -73.955757
1999986  40.740540 -73.979019
1999987  40.751011 -73.986603
1999988  40.789680 -73.980568
1999989  40.731903 -73.995674
1999990  40.721386 -73.989105
1999991  40.769741 -73.960480
1999992  40.739754 -73.991104
1999993  40.687950 -73.808250
1999994  40.725246 -73.992401
1999995  40.709881 -74.013512
1999996  40.720554 -74.003288
1999997  40.785213 -73.973022
1999998  40.773209 -73.982346
1999999  40.735401 -73.982559

[2000000 rows x 2 columns]

In [6]:
from scipy.cluster.vq import kmeans2, whiten
centroids, labels = kmeans2(points, 20, 20)
dropoff_labels = labels[0:num_trips]
pickup_labels = labels[data.shape[0]:labels.shape[0]]
assert(len(pickup_labels) == len(dropoff_labels))
data.insert(loc=len(data.columns),column='pickupID', value=pickup_labels)
data.insert(loc=len(data.columns),column='dropoffID', value=dropoff_labels)

/Users/Bisrat/anaconda/lib/python3.6/site-packages/scipy/cluster/vq.py:525: UserWarning: One of the clusters is empty. Re-run kmeans with a different initialization.
  warnings.warn("One of the clusters is empty. "

In [7]:
whiten(points)

array([[ 8.28883424, -8.29053465],
       [ 8.29081155, -8.29016871],
       [ 8.29261037, -8.28787819],
       ...,
       [ 8.29692894, -8.28980962],
       [ 8.2944868 , -8.29085441],
       [ 8.28679563, -8.29087835]])

In [8]:
def makeDigraph(data):
    G = nx.DiGraph();
    for ride in range(num_trips):
        src = data['pickupID'][ride]
        dest = data['dropoffID'][ride]
        G.add_edge(src,dest)
    return G

In [9]:
def degree_distribution(graph, orientation):
    max_degree = np.max(graph.degree)
    if (orientation is 'in'):
        in_degree = np.zeros(max_degree + 1)
        for k in G.nodes:
            in_num = G.in_degree[k]
            in_degree[in_num] += 1 
        sns.distplot(d)

In [10]:
G = makeDigraph(data)

In [11]:
print(list(G.degree))
print(G.edges())
print(G.number_of_edges())

[(7, 21), (5, 7), (0, 7), (9, 1), (8, 2), (13, 4), (3, 4), (10, 2), (14, 1), (18, 1), (19, 1), (1, 3), (11, 1), (6, 2), (15, 1), (12, 2)]
[(7, 7), (7, 0), (7, 5), (7, 10), (7, 3), (7, 6), (7, 8), (7, 15), (5, 5), (5, 7), (5, 0), (5, 13), (0, 7), (0, 0), (0, 5), (9, 7), (8, 7), (13, 13), (13, 0), (3, 7), (3, 3), (10, 7), (14, 7), (18, 7), (19, 7), (1, 7), (1, 1), (11, 7), (6, 7), (12, 12)]
30

In [12]:
data

,dropoff_datetime,dropoff_latitude,dropoff_longitude,extra,fare_amount,imp_surcharge,mta_tax,passenger_count,payment_type,pickup_datetime,...,rate_code,ratecodeid,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,vendor_id,pickupID,dropoffID
0,2015-08-15T20:29:33.000,40.74542236328125,-73.9794921875,0.5,5,0.3,0.5,1,1,2015-08-15T20:25:53.000,...,NaN,1,N,1.26,0,7.56,1.01,2,7,7
1,2015-08-31T15:32:39.000,40.755142211914063,-73.976226806640625,0,13,0.3,0.5,1,2,2015-08-31T15:11:55.000,...,NaN,1,N,0,0,13.8,1.49,2,7,7
2,2015-08-24T09:21:00.000,40.763984680175781,-73.955787658691406,0,6.5,0.3,0.5,1,1,2015-08-24T09:14:31.000,...,NaN,1,N,3,0,10.3,1.1,1,7,7
3,2015-08-05T09:12:25.000,40.756401062011719,-73.972610473632812,0,10,0.3,0.5,1,1,2015-08-05T08:57:43.000,...,NaN,1,N,1,0,11.8,1.22,2,7,7
4,2015-08-23T17:46:30.000,40.759124755859375,-73.982231140136719,0,8.5,0.3,0.5,1,1,2015-08-23T17:35:22.000,...,NaN,1,N,2.32,0,11.62,0.9,1,7,7
5,2015-08-02T12:59:08.000,40.775840759277344,-73.950897216796875,0,11,0.3,0.5,2,2,2015-08-02T12:46:46.000,...,NaN,1,N,0,0,11.8,2.3,1,7,7
6,2015-08-23T00:00:29.000,40.750583648681641,-73.983512878417969,0.5,7.5,0.3,0.5,4,1,2015-08-22T23:52:00.000,...,NaN,1,N,1.75,0,10.55,1.2,1,7,7
7,2015-08-16T09:56:33.000,0,0,0,14.5,0.3,0.5,1,1,2015-08-16T09:44:34.000,...,NaN,1,N,3.06,0,18.36,4.2,1,5,5
8,2015-08-15T21:39:53.000,40.730751037597656,-73.981124877929688,0.5,6,0.3,0.5,6,1,2015-08-15T21:33:56.000,...,NaN,1,N,1.46,0,8.76,1.04,2,7,7
9,2015-08-20T21:54:41.000,40.676830291748047,-73.981475830078125,0.5,22.5,0.3,0.5,1,1,2015-08-20T21:29:28.000,...,NaN,1,N,2,0,25.8,6.4,1,7,7
10,2015-08-21T00:08:40.000,40.770133972167969,-73.980369567871094,0.5,5.5,0.3,0.5,1,1,2015-08-21T00:03:39.000,...,NaN,1,N,4,0,10.8,0.6,1,7,7
11,2015-08-01T23:22:39.000,40.720020294189453,-73.9884033203125,0.5,6.5,0.3,0.5,1,1,2015-08-01T23:14:00.000,...,NaN,1,N,1.56,0,9.36,0.59,2,7,7
12,2015-08-28T23:27:09.000,40.75579833984375,-73.970634460449219,0.5,17.5,0.3,0.5,1,1,2015-08-28T22:58:07.000,...,NaN,1,N,3.76,0,22.56,1.41,2,7,7
13,2015-08-07T05:52:19.000,40.705371856689453,-74.004249572753906,0.5,4.5,0.3,0.5,1,1,2015-08-07T05:48:54.000,...,NaN,1,N,1.45,0,7.25,0.5,1,7,7
14,2015-08-03T23:54:42.000,40.769107818603516,-73.9552001953125,0.5,11,0.3,0.5,3,1,2015-08-03T23:45:07.000,...,NaN,1,N,3.05,0,15.35,2.9,1,7,7
15,2015-08-21T11:57:49.000,40.706306457519531,-74.003082275390625,0,10,0.3,0.5,1,1,2015-08-21T11:49:29.000,...,NaN,1,N,1,0,11.8,2.6,2,7,7
16,2015-08-22T04:15:46.000,40.648059844970703,-73.960700988769531,0.5,29.5,0.3,0.5,1,1,2015-08-22T03:44:36.000,...,NaN,1,N,2,0,32.8,8.75,2,7,7
17,2015-08-21T11:19:34.000,40.750526428222656,-73.977165222167969,0,5.5,0.3,0.5,1,1,2015-08-21T11:14:07.000,...,NaN,1,N,1.26,0,7.56,0.7,1,7,7
18,2015-08-25T19:42:41.000,40.7567138671875,-73.978408813476563,1,5,0.3,0.5,2,2,2015-08-25T19:37:47.000,...,NaN,1,N,0,0,6.8,0.5,1,7,7
19,2015-08-16T14:16:57.000,40.7705078125,-73.960029602050781,0,7,0.3,0.5,1,2,2015-08-16T14:09:44.000,...,NaN,1,N,0,0,7.8,1.04,2,7,7
20,2015-08-20T14:38:52.000,40.775775909423828,-73.960891723632812,0,8,0.3,0.5,1,2,2015-08-20T14:31:01.000,...,NaN,1,N,0,0,8.8,1.54,2,7,7
21,2015-08-31T10:11:47.000,40.770816802978516,-73.98651123046875,0,5.5,0.3,0.5,1,2,2015-08-31T10:06:28.000,...,NaN,1,N,0,0,6.3,1.12,2,7,7
22,2015-08-13T15:59:04.000,40.738014221191406,-73.992294311523438,0,12.5,0.3,0.5,3,1,2015-08-13T15:42:51.000,...,NaN,1,N,2.65,0,15.95,2.1,1,7,7
23,2015-08-29T21:16:41.000,40.753818511962891,-73.97747802734375,0.5,3.5,0.3,0.5,6,2,2015-08-29T21:15:16.000,...,NaN,1,N,0,0,4.8,0.43,2,7,7
24,2015-08-07T13:29:57.000,40.645450592041016,-73.776374816894531,0,52,0.3,0.5,1,2,2015-08-07T12:30:17.000,...,NaN,2,N,0,0,52.8,18.1,1,7,0
25,2015-08-20T11:32:20.000,40.775630950927734,-73.982383728027344,0,10.5,0.3,0.5,1,2,2015-08-20T11:18:00.000,...,NaN,1,N,0,0,11.3,1.88,2,7,7
26,2015-08-14T09:56:00.000,40.776187896728516,-73.959846496582031,0,4.5,0.3,0.5,1,2,2015-08-14T09:52:46.000,...,NaN,1,N,0,0,5.3,0.6,1,7,7
27,2015-08-22T01:13:39.000,40.736942291259766,-73.995864868164063,0.5,6,0.3,0.5,1,1,2015-08-22T01:08:13.000,...,NaN,1,N,1.46,0,8.76,1.1,1,7,7
28,2015-08-03T16:23:13.000,40.752616882324219,-73.979621887207031,1,11,0.3,0.5,1,2,2015-08-03T16:06:44.000,...,NaN,1,N,0,0,12.8,1.07,2,7,7
29,2015-08-13T23:30:43.000,40.749279022216797,-73.992172241210937,0.5,7.5,0.3,0.5,1,1,2015-08-13T23:23:02.000,...,NaN,1,N,1.76,0,10.56,1.49,2,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,2015-06-16T19:46:48.000,40.729297637939453,-73.991950988769531,1,5,NaN,0.5,4,1,2015-06-16T19:41:12.000,...,1,NaN,N,1,0,7.8,0.58,2,7,7
999971,2015-02-03T22:25:20.000,40.793270111083984,-73.950759887695313,0.5,19,NaN,0.5,5,1,2015-02-03T22:02:10.000,...,1,NaN,N,4.06,0,24.36,4.98,2,7,7
999972,2015-06-02T08:23:11.000,40.756141662597656,-73.990982055664063,0,39.5,NaN,0.5,2,1,2015-06-02T07:24:17.000,...,1,NaN,N,9.17,5.54,55.01,9.63,2,7,7
999973,2015-03-14T21:11:20.000,40.761875152587891,-73.929862976074219,0.5,25.5,NaN,0.5,2,1,2015-03-14T20:36:33.000,...,1,NaN,N,5.36,0,32.16,6.24,2,7,7
999974,2015-04-06T16:53:12.000,40.78167724609375,-73.958610534667969,1,8.5,NaN,0.5,1,1,2015-04-06T16:44:24.000,...,1,NaN,N,1,0,11.3,1.6,1,7,7
999975,2015-06-17T20:02:58.000,40.782131195068359,-73.955703735351563,0.5,5.5,NaN,0.5,1,2,2015-06-17T19:59:13.000,...,1,NaN,N,0,0,6.8,1.18,2,7,7
999976,2015-03-26T08:14:14.000,40.741043090820313,-73.988105773925781,0,5.5,NaN,0.5,1,1,2015-03-26T08:09:26.000,...,1,NaN,N,1.25,0,7.55,0.8,1,7,7
999977,2015-02-02T09:53:01.000,40.763519287109375,-73.971824645996094,0,17.5,NaN,0.5,1,2,2015-02-02T09:25:53.000,...,1,NaN,N,0,0,18.3,2.7,1,7,7
999978,2015-06-08T11:55:29.000,40.760795593261719,-73.984260559082031,0,8,NaN,0.5,1,1,2015-06-08T11:45:45.000,...,1,NaN,N,2.2,0,11,1.3,1,7,7
999979,2015-02-15T10:25:40.000,40.732761383056641,-74.00469970703125,0,8,NaN,0.5,1,1,2015-02-15T10:17:46.000,...,1,NaN,N,2.2,0,11,1.7,2,7,7
999980,2015-05-08T09:29:36.000,40.762702941894531,-73.975326538085938,0,9,NaN,0.5,1,2,2015-05-08T09:18:24.000,...,1,NaN,N,0,0,9.8,1.35,2,7,7
999981,2015-03-10T09:47:59.000,40.730186462402344,-74.006706237792969,0,15,NaN,0.5,1,1,2015-03-10T09:26:00.000,...,1,NaN,N,2,0,17.8,2.8,1,7,7
999982,2015-01-08T12:56:19.000,40.755306243896484,-73.991050720214844,0,14,NaN,0.5,2,2,2015-01-08T12:38:03.000,...,1,NaN,N,0,0,14.8,3.1,1,7,7
999983,2015-03-18T22:26:30.000,40.791351318359375,-73.952507019042969,0.5,5.5,NaN,0.5,1,1,2015-03-18T22:22:23.000,...,1,NaN,N,1.36,0,8.16,1.05,2,7,7
999984,2015-03-27T18:42:00.000,40.753250122070313,-73.974235534667969,1,29.5,NaN,0.5,4,2,2015-03-27T18:01:59.000,...,1,NaN,N,0,0,31.3,7.01,2,7,7
999985,2015-01-25T10:06:01.000,40.776222229003906,-73.964210510253906,0,5,NaN,0.5,2,2,2015-01-25T10:02:45.000,...,1,NaN,N,0,0,5.8,0.95,2,7,7
999986,2015-02-13T14:12:28.000,40.762138366699219,-73.983024597167969,0,14.5,NaN,0.5,5,1,2015-02-13T13:50:33.000,...,1,NaN,N,3.06,0,18.36,2.16,2,7,7
999987,2015-05-05T18:09:29.000,40.739086151123047,-73.987335205078125,1,8.5,NaN,0.5,5,1,2015-05-05T17:58:04.000,...,1,NaN,N,2.06,0,12.36,1.3,2,7,7
999988,2015-04-13T09:20:59.000,40.773780822753906,-73.981124877929688,0,12.5,NaN,0.5,1,2,2015-04-13T09:06:46.000,...,1,NaN,N,0,0,13.3,2.87,2,7,7
999989,2015-02-07T11:50:51.000,40.732891082763672,-74.006401062011719,0,6.5,NaN,0.5,1,1,2015-02-07T11:43:05.000,...,1,NaN,N,2.19,0,9.49,1.17,2,7,7
999990,2015-03-14T06:27:41.000,40.783000946044922,-73.973831176757813,0,16.5,NaN,0.5,2,1,2015-03-14T06:14:03.000,...,1,NaN,N,2.6,0,19.9,5.38,2,7,7
999991,2015-02-24T06:21:41.000,40.774425506591797,-73.871749877929688,0,25,NaN,0.5,1,1,2015-02-24T06:06:29.000,...,1,NaN,N,6.23,5.33,37.36,8.76,2,7,7
999992,2015-03-24T18:03:46.000,40.744514465332031,-73.983268737792969,1,6,NaN,0.5,1,1,2015-03-24T17:57:46.000,...,1,NaN,N,1.56,0,9.36,0.8,1,7,7
999993,2015-06-14T16:07:14.000,40.759372711181641,-73.984977722167969,0,52,NaN,0.5,2,2,2015-06-14T15:14:48.000,...,2,NaN,N,0,5.54,58.34,13.95,2,0,7
999994,2015-01-04T21:56:27.000,40.719619750976562,-74.010383605957031,0.5,7.5,NaN,0.5,1,1,2015-01-04T21:48:21.000,...,1,NaN,N,1,0,9.8,1.7,1,7,7
999995,2015-01-30T08:25:43.000,40.740589141845703,-73.986030578613281,0,23,NaN,0.5,1,1,2015-01-30T07:55:06.000,...,1,NaN,N,4.76,0,28.56,5.43,2,7,7
999996,2015-02-28T17:51:21.000,40.643821716308594,-73.790390014648437,0,52,NaN,0.5,1,1,2015-02-28T17:00:16.000,...,2,NaN,N,13.2,0,66,19.3,1,7,0
999997,2015-04-21T14:02:45.000,40.759410858154297,-73.981376647949219,0,13,NaN,0.5,1,1,2015-04-21T13:43:53.000,...,1,NaN,N,4.14,0,17.94,2.19,2,7,7
999998,2015-04-22T11:05:15.000,40.764541625976562,-73.980720520019531,0,5.5,NaN,0.5,1,1,2015-04-22T10:59:17.000,...,1,NaN,N,1.85,0,8.15,0.7,1,7,7
999999,2015-06-10T14:21:49.000,40.738258361816406,-73.983558654785156,0,3.5,NaN,0.5,1,1,2015-06-10T14:19:51.000,...,1,NaN,N,1,0,5.3,0.28,2,7,7